<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.pubs')"
    />
    <section class="content-header">
      <h1>{{ trans("front.pubs") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link :to="prefix + 'pubs'">
            <pubs-icon fill_color="#818896"></pubs-icon>
            {{ trans("front.pubs") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("admin.edit-pub") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-24">
          <pub-form :action="'edit'" :pub="pub"></pub-form>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
const { DateTime } = require("luxon");

export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      translations: [],
      pub: {
        name: "",
        order_num: "",
        url: "",
        start_date: "",
        end_date: "",
        image: "",
        status: 0,
      },
    };
  },
  methods: {
    editpub() {
      var self = this;
      axios
        .get(this.ajax_prefix + "pub/edit/" + self.$route.params.id)
        .then(function (response) {
          self.pub = response.data.pub;
          self.translations = response.data.translations;
          self.show_spinner = false;
        })
        .catch(function (error) {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    translatePage() {
      var self = this;
      var data = this.translations;
      axios
        .post(
          this.ajax_prefix + "pub/translations/" + self.$route.params.id,
          data
        )
        .then(function (response) {
          Event.$emit(
            "notify",
            self.trans("admin.pub-edited"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.pub-not-edited"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
  },
  mounted() {
    this.editpub();
  },
};
</script>
