<template>
  <div class="card">
    <form role="form" @submit.prevent="storeCounty()">
      <div class="card-head">
        <h3 v-if="action == 'create'" class="card-title">
          {{ trans("admin.create-pub") }}
        </h3>
        <h3 v-else class="card-title">{{ trans("admin.edit-pub") }}</h3>
      </div>
      <div class="card-body table-responsive">
        <div class="form-group">
          <label class="col-form-label">{{ trans("front.name") }}</label>
          <input
            type="text"
            name="name"
            class="form-control"
            v-model="pub.name"
            @keydown="errors.clear('name')"
          />
          <small class="form-text text-danger" v-if="errors.has('name')">
            {{ errors.get("name") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.url") }}</label>
          <input
            type="text"
            name="url"
            class="form-control"
            v-model="pub.url"
            @keydown="errors.clear('url')"
          />
          <small class="form-text text-danger" v-if="errors.has('url')">
            {{ errors.get("url") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.order_num") }}</label>
          <input
            type="number"
            name="order_num"
            class="form-control"
            v-model="pub.order_num"
            @keydown="errors.clear('order_num')"
          />
          <small class="form-text text-danger" v-if="errors.has('order_num')">
            {{ errors.get("order_num") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.start_date") }}</label>
          <datetime
            v-model="pub.start_date"
            type="date"
            value-zone="local"
            zone="local"
          ></datetime>
          <small class="form-text text-danger" v-if="errors.has('start_date')">
            {{ errors.get("start_date") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.end_date") }}</label>
          <datetime
            v-model="pub.end_date"
            type="date"
            value-zone="local"
            zone="local"
          ></datetime>
          <small class="form-text text-danger" v-if="errors.has('end_date')">
            {{ errors.get("end_date") }}
          </small>
        </div>

        <div class="form-group">
          <label class="col-form-label">{{ trans("front.image") }}</label>
          <upload-image
            @uploaded="imageUploaded"
            :image="pub.old_image"
            type="pub_image"
            nbr="322"
          ></upload-image>
          <small class="form-text text-danger" v-if="errors.has('image')">
            {{ errors.get("image") }}
          </small>
        </div>

        <div class="form-group">
          <label>{{ trans("admin.status") }}</label>
          <div class="row">
            <div class="col">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  value="1"
                  id="customRadiostatus1"
                  class="custom-control-input"
                  v-model="pub.status"
                />
                <label class="custom-control-label" for="customRadiostatus1">
                  {{ trans("admin.active") }}
                </label>
              </div>
            </div>
            <div class="col">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  value="0"
                  id="customRadiostatus2"
                  class="custom-control-input"
                  v-model="pub.status"
                />
                <label class="custom-control-label" for="customRadiostatus2">
                  {{ trans("admin.deactive") }}
                </label>
              </div>
            </div>
          </div>
          <small class="form-text text-danger" v-if="errors.has('status')">
            {{ errors.get("status") }}
          </small>
        </div>
      </div>
      <div class="card-footer clearfix">
        <div class="float-right">
          <button
            v-if="action == 'create'"
            type="submit"
            class="btn btn-info btn-sm"
          >
            {{ trans("admin.create") }}
          </button>
          <button v-else type="submit" class="btn btn-info btn-sm">
            {{ trans("text.save") }}
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
const Errors = require("../../errors.js");

export default {
  props: ["action", "pub"],
  data() {
    return {
      errors: new Errors(),
    };
  },
  mounted() {},
  methods: {
    imageUploaded(image) {
      this.pub.image = image;
    },
    storeCounty() {
      var self = this;
      var data = this.pub;
      if (this.action == "edit") {
        axios
          .put(this.ajax_prefix + "pub/" + this.pub.id, data)
          .then((response) => {
            self.$router.push(this.prefix + "pubs");
            Event.$emit(
              "notify",
              self.trans("admin.pub-edited"),
              "success",
              self.trans("text.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("admin.pub-not-edited"),
              "warning",
              self.trans("text.warning")
            );
          });
      } else {
        axios
          .post(this.ajax_prefix + "pub", data)
          .then((response) => {
            self.$router.push(this.prefix + "pubs");
            self.$emit("refrech");
            Event.$emit(
              "notify",
              self.trans("admin.pub-added"),
              "success",
              self.trans("text.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("admin.pub-not-added"),
              "warning",
              self.trans("text.warning")
            );
          });
      }
    },
  },
};
</script>
