<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.pubs')"
    />
    <section class="content-header">
      <h1>{{ trans("front.pubs") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("front.pubs") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-16">
          <div class="card">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin.all-pubs") }}</h3>
              <div class="card-tools">
                <div class="pull-left">
                  <a
                    v-if="trashed"
                    @click.prevent="trashedPubs(false)"
                    class="btn btn-info btn-sm"
                  >
                    <folder-open-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></folder-open-icon>
                    {{ trans("admin.all") }}
                  </a>
                  <a
                    v-else
                    @click.prevent="trashedPubs(true)"
                    class="btn btn-info btn-sm"
                  >
                    <recycle-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></recycle-icon>
                    {{ trans("admin.trashed") }}
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <filtering
                :orders="orders"
                :status="status"
                @filter="filterPubs"
                @order="orderPubs"
              ></filtering>
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_check"
                          class="custom-control-input"
                          @change="actionsChange()"
                          id="actionsCheck"
                        />
                        <label
                          class="custom-control-label"
                          for="actionsCheck"
                        ></label>
                      </div>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">{{ trans("front.name") }}</th>
                    <th scope="col">{{ trans("admin.order_num") }}</th>
                    <th scope="col" style="width: 80px; text-align: center">
                      {{ trans("admin.status") }}
                    </th>
                    <th scope="col" style="width: 100px; text-align: center">
                      {{ trans("admin.options") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(pub, item) in pubs.data" :key="pub.id">
                    <td scope="row" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_items[pub.id]"
                          class="custom-control-input"
                          :id="'actionsCheckbox' + pub.id"
                        />
                        <label
                          class="custom-control-label"
                          :for="'actionsCheckbox' + pub.id"
                        ></label>
                      </div>
                    </td>
                    <td scope="row">{{ pub.id }}</td>
                    <td>{{ pub.name }}</td>
                    <td>{{ pub.order_num }}</td>
                    <td class="text-center">
                      <a
                        v-if="pub.status !== 1"
                        href="#"
                        class="text-danger"
                        @click.prevent="changeStatus(pub.id, 1, item)"
                      >
                        <ban-icon fill_color="#FE6C6C"></ban-icon>
                      </a>
                      <a
                        v-else
                        href="#"
                        class="text-success"
                        @click.prevent="changeStatus(pub.id, 0, item)"
                      >
                        <check-icon fill_color="#76c64e"></check-icon>
                      </a>
                    </td>
                    <td class="text-center">
                      <ul v-if="trashed" class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.restore-pub')"
                            @click.prevent="restorCounty(pub.id)"
                          >
                            <reply-all-icon
                              fill_color="#ffc107"
                            ></reply-all-icon>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-pub')"
                            @click.prevent="deleteCounty(pub.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                      <ul v-else class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <router-link
                            :to="prefix + 'pub/edit/' + pub.id"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.edit-pub')"
                          >
                            <edit-icon fill_color="#FFC107"></edit-icon>
                          </router-link>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-pub')"
                            @click.prevent="deleteCounty(pub.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col">
                  <div class="actions dropdown">
                    <button
                      class="btn dropdown-toggle wp-120"
                      type="button"
                      id="dropdownActions"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="text-muted">
                        {{ trans("admin.actions") }}
                      </span>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownActions"
                    >
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionDelete()"
                      >
                        {{ trans("admin.delete-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(1)"
                      >
                        {{ trans("admin.activate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(0)"
                      >
                        {{ trans("admin.deactivate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionRestor()"
                        v-if="this.trashed"
                      >
                        {{ trans("admin.restor-selected") }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <pagination
                    :pagination="pubs"
                    @paginate="getPubs()"
                    :offset="4"
                  ></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <pub-form
            :action="'create'"
            @refrech="getPubs()"
            :pub="pub"
          ></pub-form>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      pubs: {},
      actions_check: false,
      actions_items: {},
      sort: this.$route.params.sort,
      direction: this.$route.params.direction,
      pub: {
        name: "",
        order_num: "",
        url: "",
        start_date: "",
        end_date: "",
        image: "",
        status: 0,
      },
      filters: {
        statu: "",
        type: "",
      },
      trashed: false,
      status: ["0", "1"],
      orders: [
        {
          sort: "order_num",
          direction: "desc",
          text: "order-by-order_num-desc",
        },
        {
          sort: "order_num",
          direction: "asc",
          text: "order-by-order_num-asc",
        },
        {
          sort: "name",
          direction: "desc",
          text: "order-by-name-desc",
        },
        {
          sort: "name",
          direction: "asc",
          text: "order-by-name-asc",
        },
        {
          sort: "id",
          direction: "desc",
          text: "order-by-newest",
        },
        {
          sort: "id",
          direction: "asc",
          text: "order-by-oldest",
        },
      ],
    };
  },
  methods: {
    getPubs() {
      var self = this;
      var url = this.preparUrl();
      axios
        .get(url)
        .then((response) => {
          self.pubs = response.data.pubs;
          self.show_spinner = false;
          window.scroll(0, 0);
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    actionsChange() {
      var items = {};
      for (let index = 0; index < this.pubs.data.length; index++) {
        this.actions_items[this.pubs.data[index].id] = this.actions_check;
      }
    },
    filterPubs(filters) {
      this.filters = filters;
      this.pubs.current_page = undefined;
      this.getPubs();
    },
    trashedPubs(trashed) {
      this.pubs.current_page = undefined;
      this.trashed = trashed;
      this.getPubs();
    },
    orderPubs(order) {
      this.sort = order.sort;
      this.direction = order.direction;
      this.pubs.current_page = undefined;
      this.getPubs();
    },
    preparUrl() {
      var base = this.ajax_prefix + "pubs?";
      var page = this.pubs.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }
      if (this.sort) {
        base += "sort=" + this.sort + "&";
      }
      if (this.direction) {
        base += "direction=" + this.direction + "&";
      }
      if (this.trashed) {
        base += "trashed=" + this.trashed + "&";
      }
      if (this.filters.pub) {
        base += "pub=" + this.filters.pub.id + "&";
      }
      if (this.filters.rewaya) {
        base += "rewaya=" + this.filters.rewaya.id + "&";
      }
      if (this.filters.reciter) {
        base += "reciter=" + this.filters.reciter.id + "&";
      }
      if (this.filters.statu) {
        base += "statu=" + this.filters.statu + "&";
      }
      if (this.filters.type) {
        base += "type=" + this.filters.type + "&";
      }

      return base.slice(0, -1);
    },

    deleteCounty(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(id, key);
      });
    },

    confirmDalete(id, key) {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      axios
        .delete(this.ajax_prefix + "pub/" + id + forced)
        .then(function (response) {
          self.actions_items[self.pubs.data[key].id] = false;
          self.$delete(self.pubs.data, key);
          Event.$emit(
            "notify",
            self.trans("admin.pub-deleted"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.pub-not-deleted"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    changeStatus: function (id, status, item) {
      var self = this;
      axios
        .get(this.ajax_prefix + "pub/" + id + "/status/" + status)
        .then((response) => {
          self.pubs.data[item].status = parseInt(response.data.status);
          Event.$emit(
            "notify",
            self.trans("admin.pub-status-changed"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("admin.pub-status-not-changed"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    restorCounty(id) {
      var self = this;
      axios
        .get(this.ajax_prefix + "pub/restore/" + id)
        .then(function (response) {
          self.trashed = false;
          self.getPubs();
          Event.$emit(
            "notify",
            self.trans("admin.pub-restored"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.pub-not-restored"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    actionDelete() {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmActionDelete();
      });
    },
    confirmActionDelete() {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      var data = {
        action: "delete",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "pub/actions" + forced, data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.pubs.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.pubs.data, key);
            self.actions_items[response.data.results[index]] = false;
          }
          Event.$emit(
            "notify",
            self.trans("admin.pub-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.pub-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    actionRestor() {
      var self = this;
      var data = {
        action: "restor",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "pub/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.pubs.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.pubs.data, key);
          }
          Event.$emit(
            "notify",
            self.trans("admin.pub-restored"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.pub-not-restored"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    actionChangeStatus(statu) {
      var self = this;
      if (statu == 1) {
        var action = "activate";
      } else {
        var action = "deactivate";
      }
      var data = {
        action: action,
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "pub/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            var item = response.data.results[index];
            let key = self.pubs.data.map((item) => item.id).indexOf(item["id"]);
            self.pubs.data[key].status = item["status"];
          }
          Event.$emit(
            "notify",
            self.trans("admin.pub-status-changed"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.pub-status-not-changed"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
  },
  mounted() {
    this.getPubs();
  },
};
</script>
