<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.settings')"
    />
    <section class="content-header">
      <h1>{{ trans("front.settings") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("front.settings") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-24">
          <div class="card">
            <form role="form" @submit.prevent="updateSettings()">
              <div class="card-head">
                <h3 class="card-title">{{ trans("admin.edit-settings") }}</h3>
              </div>
              <div class="card-body table-responsive">
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("admin.app_name") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="app_name"
                      class="form-control"
                      v-model="settings.app_name"
                      @keydown="errors.clear('app_name')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('app_name')"
                    >
                      {{ errors.get("app_name") }}
                    </small>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("admin.home_title") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="home_title"
                      class="form-control"
                      v-model="settings.home_title"
                      @keydown="errors.clear('home_title')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('home_title')"
                    >
                      {{ errors.get("home_title") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("admin.main_description") }}
                  </label>
                  <div class="col-sm-16">
                    <textarea
                      name="main_description"
                      class="form-control"
                      v-model="settings.main_description"
                      rows="3"
                      @change="errors.clear('main_description')"
                    ></textarea>
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('main_description')"
                    >
                      {{ errors.get("main_description") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("admin.main_keywords") }}
                  </label>
                  <div class="col-sm-16">
                    <textarea
                      name="main_keywords"
                      class="form-control"
                      v-model="settings.main_keywords"
                      rows="3"
                      @change="errors.clear('main_keywords')"
                    ></textarea>
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('main_keywords')"
                    >
                      {{ errors.get("main_keywords") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("admin.home_whatsapp_contact") }}
                  </label>
                  <div class="col-sm-16">
                    <textarea
                      name="home_whatsapp_contact"
                      class="form-control"
                      v-model="settings.home_whatsapp_contact"
                      rows="3"
                      @change="errors.clear('home_whatsapp_contact')"
                    ></textarea>
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('home_whatsapp_contact')"
                    >
                      {{ errors.get("home_whatsapp_contact") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("admin.home_reservation") }}
                  </label>
                  <div class="col-sm-16">
                    <textarea
                      name="home_reservation"
                      class="form-control"
                      v-model="settings.home_reservation"
                      rows="3"
                      @change="errors.clear('home_reservation')"
                    ></textarea>
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('home_reservation')"
                    >
                      {{ errors.get("home_reservation") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("admin.footer_text") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="footer_text"
                      class="form-control"
                      v-model="settings.footer_text"
                      @keydown="errors.clear('footer_text')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('footer_text')"
                    >
                      {{ errors.get("footer_text") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("front.phone") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="phone"
                      class="form-control"
                      v-model="settings.phone"
                      @keydown="errors.clear('phone')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('phone')"
                    >
                      {{ errors.get("phone") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("front.email") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="email"
                      class="form-control"
                      v-model="settings.email"
                      @keydown="errors.clear('email')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('email')"
                    >
                      {{ errors.get("email") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("front.facebook") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="facebook"
                      class="form-control"
                      v-model="settings.facebook"
                      @keydown="errors.clear('facebook')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('facebook')"
                    >
                      {{ errors.get("facebook") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("front.twitter") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="twitter"
                      class="form-control"
                      v-model="settings.twitter"
                      @keydown="errors.clear('twitter')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('twitter')"
                    >
                      {{ errors.get("twitter") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("front.instagram") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="instagram"
                      class="form-control"
                      v-model="settings.instagram"
                      @keydown="errors.clear('instagram')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('instagram')"
                    >
                      {{ errors.get("instagram") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("front.youtube") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="youtube"
                      class="form-control"
                      v-model="settings.youtube"
                      @keydown="errors.clear('youtube')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('youtube')"
                    >
                      {{ errors.get("youtube") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("front.snapchat") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="snapchat"
                      class="form-control"
                      v-model="settings.snapchat"
                      @keydown="errors.clear('snapchat')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('snapchat')"
                    >
                      {{ errors.get("snapchat") }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label">
                    {{ trans("admin.side_rewaya") }}
                  </label>
                  <div class="col-sm-16">
                    <input
                      type="text"
                      name="side_rewaya"
                      class="form-control"
                      v-model="settings.side_rewaya"
                      @keydown="errors.clear('side_rewaya')"
                    />
                    <small
                      class="form-text text-danger"
                      v-if="errors.has('side_rewaya')"
                    >
                      {{ errors.get("side_rewaya") }}
                    </small>
                  </div>
                </div>
              </div>
              <div class="card-footer clearfix">
                <div class="float-left">
                  <button type="submit" class="btn btn-info btn-sm">
                    {{ trans("text.save") }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
const Errors = require("../../errors.js");

export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      errors: new Errors(),
      settings: {
        app_name: "",
        footer_text: "",
        phone: "",
        email: "",
        facebook: "",
        twitter: "",
        instagram: "",
        youtube: "",
        snapchat: "",
        side_rewaya: "",
        home_title: "",
        main_keywords: "",
        home_whatsapp_contact: "",
        home_reservation: "",
        main_description: "",
      },
    };
  },
  methods: {
    getSettings() {
      var self = this;
      axios
        .get(this.ajax_prefix + "settings")
        .then(function (response) {
          self.settings.app_name = response.data.settings.app_name;
          self.settings.footer_text = response.data.settings.footer_text;
          self.settings.phone = response.data.settings.phone;
          self.settings.email = response.data.settings.email;
          self.settings.facebook = response.data.settings.facebook;
          self.settings.twitter = response.data.settings.twitter;
          self.settings.instagram = response.data.settings.instagram;
          self.settings.youtube = response.data.settings.youtube;
          self.settings.snapchat = response.data.settings.snapchat;
          self.settings.side_rewaya = response.data.settings.side_rewaya;
          self.settings.home_title = response.data.settings.home_title;
          self.settings.home_whatsapp_contact =
            response.data.settings.home_whatsapp_contact;
          self.settings.home_reservation =
            response.data.settings.home_reservation;
          self.settings.main_keywords = response.data.settings.main_keywords;
          self.settings.main_description =
            response.data.settings.main_description;
          self.show_spinner = false;
        })
        .catch(function (error) {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    
    updateSettings() {
      var self = this;
      var data = this.settings;
      axios
        .put(this.ajax_prefix + "settings", data)
        .then((response) => {
          self.$router.push(this.prefix + "settings");
          Event.$emit(
            "notify",
            self.trans("front.settings-edited"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          self.errors.record(error);
          Event.$emit(
            "notify",
            self.trans("front.settings-not-edited"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
  },
  mounted() {
    this.getSettings();
  },
};
</script>
