// Fonts
@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairolight.eot");
  src: url("../fonts/cairolight.eot") format("embedded-opentype"), url("../fonts/cairolight.woff") format("woff"),
    url("../fonts/cairolight.ttf") format("truetype"), url("../fonts/cairolight.svg#MenschMenschRegular") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairo.eot");
  src: url("../fonts/cairo.eot") format("embedded-opentype"), url("../fonts/cairo.woff") format("woff"),
    url("../fonts/cairo.ttf") format("truetype"), url("../fonts/cairo.svg#MenschMenschRegular") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairobold.eot");
  src: url("../fonts/cairobold.eot") format("embedded-opentype"), url("../fonts/cairobold.woff") format("woff"),
    url("../fonts/cairobold.ttf") format("truetype"), url("../fonts/cairobold.svg#MenschMenschRegular") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../fonts/Bahij_TheSansArabic-Plain.eot");
  src: url("../fonts/Bahij_TheSansArabic-Plain.eot") format("embedded-opentype"), url("../fonts/Bahij_TheSansArabic-Plain.woff") format("woff"),
    url("../fonts/Bahij_TheSansArabic-Plain.ttf") format("truetype"), url("../fonts/Bahij_TheSansArabic-Plain.svg#MenschMenschRegular") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Bahij";
  src: url("../fonts/Bahij_TheSansArabic-Bold.eot");
  src: url("../fonts/Bahij_TheSansArabic-Bold.eot") format("embedded-opentype"), url("../fonts/Bahij_TheSansArabic-Bold.woff") format("woff"),
    url("../fonts/Bahij_TheSansArabic-Bold.ttf") format("truetype"), url("../fonts/Bahij_TheSansArabic-Bold.svg#MenschMenschRegular") format("svg");
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');


@import "theme/theme";
@import "theme/theme-elements";
@import "theme/theme-blog";
@import "theme/custom";
@import "pages";
