.services-page{
    .service-section{
        .col-half-section{
            display: flex;
            font-family: $font-secondary;

            h4{                
                color: #f37629;
                width: 125px;
                text-align: left;
                padding-left: .5rem;
            }
            p{
                font-size: .95rem !important;
            }
            p.text-2{
                font-size: .85rem !important;
            }

            .left-border{
                border-left: 5px solid $color-primary;
                margin-left: .5rem;
                display: flex;
                align-items: center;
            }
        }
    }
}