<template>
  <div class="content-wrapper">
    <vue-headful :title="trans('admin.dashboard_title')" />
    <section class="content-header">
      <h1>{{ trans("admin.medias") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("admin.medias") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <h3>{{ trans("text.folders") }}</h3>
      <div class="row">
        <div
          class="col-lg-4"
          v-for="(folder, item, index) in folders"
          :key="item"
        >
          <div class="card">
            <div class="card-body p-0">
              <div
                @click="loadFolder(item)"
                class="media-folder"
                :index="index"
              >
                <div class="folder-icon">
                  <folder-open-icon fill_color="#17a2b8"></folder-open-icon>
                </div>
                <h5 class="folder-name">{{ item }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-24">
          <div v-if="cleared_count" class="alert alert-success" role="alert">
            {{
              trans("admin.freed-space", {
                space: cleared_size,
                count: cleared_count,
              })
            }}
          </div>
          <div class="card" v-if="folder">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin." + folder) }}</h3>
              <div class="card-tools">
                <div
                  class="btn-refresh float-right tip"
                  data-placement="left"
                  data-toggle="tooltip"
                  title
                  :data-original-title="trans('admin.clear-media-folder')"
                  @click="clearFolder()"
                >
                  <broom-icon fill_color="#17a2b8"></broom-icon>
                </div>
                <div
                  class="btn-auto-fix float-right mr-3 tip"
                  data-placement="left"
                  data-toggle="tooltip"
                  title
                  :data-original-title="trans('admin.clear-media-database')"
                  @click="clearMedias()"
                >
                  <server-icon fill_color="#17a2b8"></server-icon>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div
                  class="col-4"
                  v-for="(media, item, index) in medias.data"
                  :index="index"
                  :key="item"
                >
                  <div class="card media-card">
                    <img
                      :src="media.src"
                      class="card-img-top"
                      :alt="media.alt"
                    />
                    <a
                      href="#"
                      data-placement="left"
                      class="tip delete"
                      data-toggle="tooltip"
                      title
                      :data-original-title="trans('admin.delete-media')"
                      @click.prevent="deleteMedia(media.id, item)"
                    >
                      <trash-icon fill_color="#F44336"></trash-icon>
                    </a>
                    <a
                      href="#"
                      data-placement="left"
                      class="tip edit"
                      data-toggle="tooltip"
                      title
                      :data-original-title="trans('admin.edit-media')"
                      @click.prevent="editMedia(media, item)"
                    >
                      <edit-icon fill_color="#FFC107"></edit-icon>
                    </a>
                    <div class="card-body">
                      <h5 class="card-title">{{ media.file_name }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer clearfix">
              <pagination
                :pagination="medias"
                @paginate="getMedias()"
                :offset="4"
              ></pagination>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div
      id="edit_model"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <form role="form" @submit.prevent="updateMedia()">
            <div class="modal-body">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">
                  {{ trans("admin.title") }}
                </label>
                <div class="col-sm-18">
                  <input
                    type="text"
                    name="title"
                    class="form-control"
                    v-model="edit_media.title"
                    @keydown="errors.clear('title')"
                  />
                  <small
                    class="form-text text-danger"
                    v-if="errors.has('title')"
                  >
                    {{ errors.get("title") }}
                  </small>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-info btn-sm mr-2 w-50">
                {{ trans("admin.update") }}
              </button>
              <button
                type="button"
                class="btn btn-secondary btn-sm btn-block m-0 w-25"
                data-dismiss="modal"
              >
                {{ trans("admin.cancel") }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const Errors = require("../../errors.js");

export default {
  data() {
    return {
      errors: new Errors(),
      show_spinner: true,
      show_error: false,
      folder: this.$route.params.folder,
      folders: {},
      medias: {},
      cleared_size: 0,
      cleared_count: 0,
      edit_media: {
        id: "",
        key: "",
        caption: "",
        folder: "",
        alt: "",
        title: "",
      },
    };
  },
  methods: {
    loadFolder(folder) {
      this.folder = folder;
      this.getMedias();
    },
    clearFolder() {
      var self = this;
      var url = this.ajax_prefix + "medias/clear-folder/" + this.folder;
      axios
        .get(url)
        .then((response) => {
          self.cleared_size = response.data.cleared_size;
          self.cleared_count = response.data.cleared_count;
          self.getMedias();
          self.show_spinner = false;
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    clearMedias() {
      var self = this;
      var url = this.ajax_prefix + "medias/clear-medias/" + this.folder;
      axios
        .get(url)
        .then((response) => {
          self.cleared_size = response.data.cleared_size;
          self.cleared_count = response.data.cleared_count;
          self.getMedias();
          self.show_spinner = false;
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    getMedias() {
      var self = this;
      var url = this.preparUrl();
      axios
        .get(url)
        .then((response) => {
          self.medias = response.data.medias;
          self.folders = response.data.folders;
          self.show_spinner = false;
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    preparUrl() {
      var base = this.ajax_prefix + "medias?";
      var page = this.medias.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }
      if (this.folder) {
        base += "folder=" + this.folder + "&";
      }
      return base.slice(0, -1);
    },
    deleteMedia(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(id, key);
      });
    },
    confirmDalete(id, key) {
      var self = this;
      axios
        .delete(this.ajax_prefix + "media/" + id)
        .then(function (response) {
          self.$delete(self.medias.data, key);
          Event.$emit(
            "notify",
            self.trans("messages.media-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("messages.media-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    editMedia(media, key) {
      this.edit_media.title = media.title;
      this.edit_media.caption = media.caption;
      this.edit_media.alt = media.alt;
      this.edit_media.folder = media.folder;
      this.edit_media.id = media.id;
      this.edit_media.key = key;
      $("#edit_model").modal("show");
    },
    updateMedia() {
      var self = this;
      var data = this.edit_media;
      axios
        .put(this.prefix + "media/" + this.edit_media.id, data)
        .then(function (response) {
          $("#edit_model").modal("hide");
          self.medias.data[self.edit_media.key].title =
            response.data.media.title;
          self.medias.data[self.edit_media.key].caption =
            response.data.media.caption;
          self.medias.data[self.edit_media.key].alt = response.data.media.alt;
          self.medias.data[self.edit_media.key].folder =
            response.data.media.folder;
          Event.$emit(
            "notify",
            self.trans("messages.media-edited"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          self.errors.record(error);
          Event.$emit(
            "notify",
            self.trans("messages.media-not-edited"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
  },
  mounted() {
    this.getMedias();
  },
};
</script>

