<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.pages')"
    />
    <section class="content-header">
      <h1>{{ trans("front.pages") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("front.pages") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-24">
          <div class="card">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin.all-pages") }}</h3>
              <div class="card-tools">
                <div class="pull-left mr-2">
                  <router-link :to="prefix + 'page/create'">
                    <button class="btn btn-primary btn-sm">
                      {{ trans("admin.add-page") }}
                    </button>
                  </router-link>
                  <a
                    v-if="trashed"
                    @click.prevent="trashedPages(false)"
                    class="btn btn-info btn-sm"
                  >
                    <folder-open-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></folder-open-icon>
                    {{ trans("admin.all") }}
                  </a>
                  <a
                    v-else
                    @click.prevent="trashedPages(true)"
                    class="btn btn-info btn-sm"
                  >
                    <recycle-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></recycle-icon>
                    {{ trans("admin.trashed") }}
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <filtering
                :status="status"
                :languages="languages"
                @filter="filterPages"
              ></filtering>
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_check"
                          class="custom-control-input"
                          @change="actionsChange()"
                          id="actionsCheck"
                        />
                        <label
                          class="custom-control-label"
                          for="actionsCheck"
                        ></label>
                      </div>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">{{ trans("front.name") }}</th>
                    <th scope="col">{{ trans("admin.title") }}</th>
                    <th scope="col">{{ trans("admin.language") }}</th>
                    <th scope="col" style="width: 130px; text-align: center">
                      {{ trans("admin.status") }}
                    </th>
                    <th scope="col" class="text-center">
                      {{ trans("admin.options") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(page, item) in pages.data" :key="item">
                    <td scope="row" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_items[page.id]"
                          class="custom-control-input"
                          :id="'actionsCheckbox' + page.id"
                        />
                        <label
                          class="custom-control-label"
                          :for="'actionsCheckbox' + page.id"
                        ></label>
                      </div>
                    </td>
                    <td scope="row">{{ page.id }}</td>
                    <td>
                      <a :href="'/' + page.name" target="_blank">
                        {{ page.name }}
                      </a>
                    </td>
                    <td>{{ page.title }}</td>
                    <td v-if="page.language">{{ page.language.name }}</td>
                    <td v-else>-</td>
                    <td class="text-center">
                      <a
                        v-if="page.status !== 1"
                        href="#"
                        class="text-danger"
                        @click.prevent="changeStatus(page.id, 1, item)"
                      >
                        <ban-icon fill_color="#FE6C6C"></ban-icon>
                      </a>
                      <a
                        v-else
                        href="#"
                        class="text-success"
                        @click.prevent="changeStatus(page.id, 0, item)"
                      >
                        <check-icon fill_color="#76c64e"></check-icon>
                      </a>
                    </td>
                    <td class="text-center">
                      <ul v-if="trashed" class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.restore-page')"
                            @click.prevent="restorPage(page.id)"
                          >
                            <reply-all-icon
                              fill_color="#ffc107"
                            ></reply-all-icon>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-page')"
                            @click.prevent="deletePage(page.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                      <ul v-else class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <router-link
                            :to="prefix + 'page/edit/' + page.id"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.edit-page')"
                          >
                            <edit-icon fill_color="#FFC107"></edit-icon>
                          </router-link>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-page')"
                            @click.prevent="deletePage(page.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col">
                  <div class="actions dropdown">
                    <button
                      class="btn dropdown-toggle wp-120"
                      type="button"
                      id="dropdownActions"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="text-muted">
                        {{ trans("admin.actions") }}
                      </span>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownActions"
                    >
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionDelete()"
                      >
                        {{ trans("admin.delete-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(1)"
                      >
                        {{ trans("admin.activate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(0)"
                      >
                        {{ trans("admin.deactivate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionRestor()"
                        v-if="this.trashed"
                      >
                        {{ trans("admin.restor-selected") }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <pagination
                    :pagination="pages"
                    @paginate="getPages()"
                    :offset="4"
                  ></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      page: {
        name: "",
        alias: "",
        language: {},
      },
      filters: {
        statu: "",
        language: "",
      },
      actions_check: false,
      actions_items: {},
      pages: {},
      language: {},
      languages: {},
      trashed: false,
      status: ["0", "1"],
      show_spinner: true,
      show_error: false,
    };
  },
  methods: {
    getPages() {
      var self = this;
      var url = this.preparUrl();
      axios
        .get(url)
        .then((response) => {
          self.pages = response.data.pages;
          self.languages = response.data.languages;
          self.show_spinner = false;
          window.scroll(0, 0);
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    actionsChange() {
      var items = {};
      for (let index = 0; index < this.pages.data.length; index++) {
        this.actions_items[this.pages.data[index].id] = this.actions_check;
      }
    },
    filterPages(filters) {
      this.filters = filters;
      this.pages.current_page = undefined;
      this.getPages();
    },
    preparUrl() {
      var base = this.ajax_prefix + "pages?";
      var page = this.pages.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }
      if (this.trashed) {
        base += "trashed=" + this.trashed + "&";
      }
      if (this.filters.statu) {
        base += "statu=" + this.filters.statu + "&";
      }
      if (this.filters.statu) {
        base += "statu=" + this.filters.statu + "&";
      }
      if (this.filters.language_index || this.filters.language_index === 0) {
        base +=
          "language=" + this.languages[this.filters.language_index].id + "&";
      }
      var url = base.slice(0, -1);
      return url;
    },
    trashedPages(trashed) {
      this.pages.current_page = undefined;
      this.trashed = trashed;
      this.getPages();
    },
    duplicatePage(id, key) {
      var self = this;
      axios
        .get(this.ajax_prefix + "page/duplicate/" + id)
        .then((response) => {
          self.pages.data.push(response.data.page);
          Event.$emit(
            "notify",
            self.trans("admin.page-duplicate"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("admin.page-not-duplicate"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    deletePage(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(id, key);
      });
    },
    changeStatus: function (id, status, item) {
      var self = this;
      axios
        .get(this.ajax_prefix + "page/" + id + "/status/" + status)
        .then((response) => {
          self.pages.data[item].status = parseInt(response.data.status);
          Event.$emit(
            "notify",
            self.trans("admin.page-status-changed"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("admin.page-status-not-changed"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    confirmDalete(id, key) {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      axios
        .delete(this.ajax_prefix + "page/" + id + forced)
        .then(function (response) {
          self.actions_items[self.pages.data[key].id] = false;
          self.$delete(self.pages.data, key);
          Event.$emit(
            "notify",
            self.trans("admin.page-deleted"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.page-not-deleted"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    restorPage(id) {
      var self = this;
      axios
        .get(this.ajax_prefix + "page/restore/" + id)
        .then(function (response) {
          self.trashed = false;
          self.getPages();
          Event.$emit(
            "notify",
            self.trans("admin.page-restored"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.page-not-restored"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    actionDelete() {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmActionDelete();
      });
    },
    confirmActionDelete() {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      var data = {
        action: "delete",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "page/actions" + forced, data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.pages.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.pages.data, key);
            self.actions_items[response.data.results[index]] = false;
          }
          Event.$emit(
            "notify",
            self.trans("admin.page-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.page-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    actionRestor() {
      var self = this;
      var data = {
        action: "restor",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "page/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.pages.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.pages.data, key);
          }
          Event.$emit(
            "notify",
            self.trans("admin.page-restored"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.page-not-restored"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    actionChangeStatus(statu) {
      var self = this;
      if (statu == 1) {
        var action = "activate";
      } else {
        var action = "deactivate";
      }
      var data = {
        action: action,
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "page/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            var item = response.data.results[index];

            let key = self.pages.data
              .map((item) => item.id)
              .indexOf(item["id"]);

            self.pages.data[key].status = item["status"];
          }
          Event.$emit(
            "notify",
            self.trans("admin.page-status-changed"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.page-status-not-changed"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
  },
  mounted() {
    this.getPages();
  },
};
</script>
