<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.polls')"
    />
    <section class="content-header">
      <h1>{{ trans("front.polls") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link :to="prefix + 'polls'">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("front.polls") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("admin.edit-poll") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <poll-form
        :action="'edit'"
        :poll="poll"
        :languages="languages"
      ></poll-form>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      languages: {},
      poll: {
        title: "",
        slug: "",
        excerpt: "",
        content: "",
        options: [],
        status: 0,
        sticky: 0,
        language: {},
        end_date: "",
      },
    };
  },

  methods: {
    editPoll() {
      var self = this;
      axios
        .get(this.ajax_prefix + "poll/edit/" + self.$route.params.id)
        .then(function (response) {
          self.poll = response.data.poll;
          self.languages = response.data.languages;
          self.show_spinner = false;
        })
        .catch(function (error) {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
  },
  mounted() {
    this.editPoll();
  },
};
</script>
