<template>
  <div class="card">
    <form role="form" @submit.prevent="storePoll()">
      <div class="card-head">
        <h3 v-if="action == 'create'" class="card-title">
          {{ trans("admin.create-poll") }}
        </h3>
        <h3 v-else class="card-title">{{ trans("admin.edit-poll") }}</h3>
      </div>
      <div class="card-body table-responsive">
        <div class="row">
          <div class="col-md-17">
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.title") }}</label>
              <input
                type="text"
                name="title"
                class="form-control"
                v-model="poll.title"
                @keydown="errors.clear('title')"
              />
              <small class="form-text text-danger" v-if="errors.has('title')">
                {{ errors.get("title") }}
              </small>
            </div>
            <div v-if="action == 'edit'" class="form-group">
              <label class="col-form-label">{{ trans("admin.slug") }}</label>
              <input
                type="text"
                name="slug"
                class="form-control"
                v-model="poll.slug"
                @keydown="errors.clear('slug')"
              />
              <small class="form-text text-danger" v-if="errors.has('slug')">
                {{ errors.get("slug") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.excerpt") }}</label>
              <textarea
                name="excerpt"
                class="form-control"
                v-model="poll.excerpt"
                rows="3"
                @change="errors.clear('excerpt')"
              ></textarea>
              <small class="form-text text-danger" v-if="errors.has('excerpt')">
                {{ errors.get("excerpt") }}
              </small>
            </div>
            <div class="form-group">
              <label>{{ trans("admin.options") }}</label>
              <ul class="list-group pr-0 mb-2">
                <li
                  v-for="(option, item) in poll.options"
                  :key="item"
                  class="list-group-item"
                >
                  <div v-if="item == option_edit" class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      v-model="edit_option"
                      style="border-radius: 0"
                      aria-label="Example text with button addon"
                      aria-describedby="button-addon1"
                      @keydown.enter.prevent="updateOption(item)"
                    />
                    <div class="input-group-prepend">
                      <button
                        class="btn btn-success"
                        type="button"
                        id="button-addon1"
                        @click="updateOption(item)"
                      >
                        {{ trans("admin.update-option") }}
                      </button>
                    </div>
                  </div>

                  <span v-else>
                    {{ option.title }}
                    <i
                      class="fas fa-pen text-info mr-2"
                      @click="editOption(item, option.title)"
                    ></i>
                    <i
                      class="fas fa-trash text-danger mr-2"
                      @click="deleteOption(item)"
                    ></i>
                  </span>
                </li>
              </ul>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  v-model="option"
                  style="border-radius: 0"
                  aria-label="Example text with button addon"
                  aria-describedby="button-addon1"
                  @keydown.enter.prevent="addOption()"
                />
                <div class="input-group-prepend">
                  <button
                    class="btn btn-success"
                    type="button"
                    id="button-addon1"
                    @click="addOption()"
                  >
                    {{ trans("admin.add-option") }}
                  </button>
                </div>
              </div>
              <small class="form-text text-danger" v-if="errors.has('options')">
                {{ errors.get("options") }}
              </small>
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label>{{ trans("admin.status") }}</label>
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      value="1"
                      id="customRadiostatus1"
                      class="custom-control-input"
                      v-model="poll.status"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadiostatus1"
                    >
                      {{ trans("admin.active") }}
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      value="0"
                      id="customRadiostatus2"
                      class="custom-control-input"
                      v-model="poll.status"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadiostatus2"
                    >
                      {{ trans("admin.deactive") }}
                    </label>
                  </div>
                </div>
              </div>
              <small class="form-text text-danger" v-if="errors.has('status')">
                {{ errors.get("status") }}
              </small>
            </div>
            <div class="form-group">
              <label>{{ trans("admin.sticky") }}</label>
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      value="1"
                      id="customRadiosticky1"
                      class="custom-control-input"
                      v-model="poll.sticky"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadiosticky1"
                    >
                      {{ trans("admin.yes") }}
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      value="0"
                      id="customRadiosticky2"
                      class="custom-control-input"
                      v-model="poll.sticky"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadiosticky2"
                    >
                      {{ trans("admin.no") }}
                    </label>
                  </div>
                </div>
              </div>
              <small class="form-text text-danger" v-if="errors.has('sticky')">
                {{ errors.get("sticky") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">
                {{ trans("admin.language") }}
              </label>
              <multiselect
                v-model="poll.language"
                selected-label
                select-label
                deselect-label
                :options="languages"
                :placeholder="trans('admin.language')"
                label="name"
                track-by="id"
                :multiple="false"
              >
                <span slot="noResult">{{ trans("text.no-item-found") }}</span>
              </multiselect>
              <small
                class="form-text text-danger"
                v-if="errors.has('language')"
              >
                {{ errors.get("language") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">
                {{ trans("admin.end_date") }}
              </label>
              <datetime
                v-model="poll.end_date"
                type="datetime"
                value-zone="local"
                zone="local"
              ></datetime>
              <small
                class="form-text text-danger"
                v-if="errors.has('end_date')"
              >
                {{ errors.get("end_date") }}
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer clearfix">
        <div class="float-right">
          <button
            v-if="action == 'create'"
            type="submit"
            class="btn btn-info btn-sm"
          >
            {{ trans("admin.create") }}
          </button>
          <button v-else type="submit" class="btn btn-info btn-sm">
            {{ trans("text.save") }}
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
const Errors = require("../../errors.js");
export default {
  props: ["action", "poll", "languages"],

  data() {
    return {
      errors: new Errors(),
      option: "",
      option_id: 0,
      option_edit: "none",
      edit_option: "",
    };
  },

  mounted() {},

  methods: {
    addOption() {
      var option = {
        id: "100A001" + this.option_id,
        title: this.option,
      };
      this.poll.options.push(option);
      this.option = "";
      this.option_id++;
    },
    editOption(key, title) {
      this.option_edit = key;
      this.edit_option = title;
    },
    updateOption(key) {
      this.poll.options[key].title = this.edit_option;
      this.option_edit = "none";
    },
    deleteOption(key) {
      this.poll.options.splice(key, 1);
    },
    storePoll() {
      var self = this;
      var data = this.poll;
      if (this.action == "edit") {
        axios
          .put(this.ajax_prefix + "poll/" + this.poll.id, data)
          .then((response) => {
            self.$router.push(this.prefix + "polls");
            Event.$emit(
              "notify",
              self.trans("admin.poll-edited"),
              "success",
              self.trans("text.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("admin.poll-not-edited"),
              "warning",
              self.trans("text.warning")
            );
          });
      } else {
        axios
          .post(this.ajax_prefix + "poll", data)
          .then((response) => {
            self.$router.push(this.prefix + "polls");
            self.$emit("refrech");
            Event.$emit(
              "notify",
              self.trans("admin.poll-added"),
              "success",
              self.trans("text.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("admin.poll-not-added"),
              "warning",
              self.trans("text.warning")
            );
          });
      }
    },
  },
};
</script>