<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.polls')"
    />
    <section class="content-header">
      <h1>{{ trans("front.polls") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("front.polls") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-24">
          <div class="card">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin.all-polls") }}</h3>
              <div class="card-tools">
                <div class="pull-left">
                  <router-link :to="prefix + 'poll/create'">
                    <button class="btn btn-primary btn-sm">
                      {{ trans("admin.add-poll") }}
                    </button>
                  </router-link>
                  <a
                    v-if="trashed"
                    @click.prevent="trashedPolls(false)"
                    class="btn btn-info btn-sm"
                  >
                    <folder-open-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></folder-open-icon>
                    {{ trans("admin.all") }}
                  </a>
                  <a
                    v-else
                    @click.prevent="trashedPolls(true)"
                    class="btn btn-info btn-sm"
                  >
                    <recycle-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></recycle-icon>
                    {{ trans("admin.trashed") }}
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <filtering
                :orders="orders"
                @order="orderPolls"
                :status="status"
                :languages="languages"
                :sticky="sticky"
                @filter="filterPolls"
              ></filtering>
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_check"
                          class="custom-control-input"
                          @change="actionsChange()"
                          id="actionsCheck"
                        />
                        <label
                          class="custom-control-label"
                          for="actionsCheck"
                        ></label>
                      </div>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">{{ trans("admin.title") }}</th>
                    <th scope="col">{{ trans("admin.author") }}</th>
                    <th scope="col">{{ trans("admin.language") }}</th>
                    <th scope="col" style="width: 80px; text-align: center">
                      {{ trans("admin.status") }}
                    </th>
                    <th scope="col" style="width: 80px; text-align: center">
                      {{ trans("admin.sticky") }}
                    </th>
                    <th scope="col" style="width: 100px; text-align: center">
                      {{ trans("admin.end-date") }}
                    </th>
                    <th scope="col" style="width: 100px; text-align: center">
                      {{ trans("admin.options") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(poll, item) in polls.data" :key="poll.id">
                    <td scope="row" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_items[poll.id]"
                          class="custom-control-input"
                          :id="'actionsCheckbox' + poll.id"
                        />
                        <label
                          class="custom-control-label"
                          :for="'actionsCheckbox' + poll.id"
                        ></label>
                      </div>
                    </td>
                    <td scope="row">{{ poll.id }}</td>
                    <td>
                      <router-link :to="prefix + 'poll/' + poll.id">
                        {{ poll.title }}
                      </router-link>
                    </td>
                    <td v-if="poll.user">{{ poll.user.name }}</td>
                    <td v-else>-</td>
                    <td v-if="poll.language">{{ poll.language.name }}</td>
                    <td v-else>-</td>
                    <td class="text-center">
                      <a
                        v-if="poll.status !== 1"
                        href="#"
                        class="text-danger"
                        @click.prevent="changeStatus(poll.id, 1, item)"
                      >
                        <ban-icon fill_color="#FE6C6C"></ban-icon>
                      </a>
                      <a
                        v-else
                        href="#"
                        class="text-success"
                        @click.prevent="changeStatus(poll.id, 0, item)"
                      >
                        <check-icon fill_color="#76c64e"></check-icon>
                      </a>
                    </td>
                    <td class="text-center">
                      <a
                        v-if="poll.sticky !== 1"
                        href="#"
                        class="text-danger"
                        @click.prevent="changeSticky(poll.id, 1, item)"
                      >
                        <ban-icon fill_color="#FE6C6C"></ban-icon>
                      </a>
                      <a
                        v-else
                        href="#"
                        class="text-success"
                        @click.prevent="changeSticky(poll.id, 0, item)"
                      >
                        <check-icon fill_color="#76c64e"></check-icon>
                      </a>
                    </td>
                    <td style="text-align: center">
                      {{ poll.end_date | formatDate }}
                    </td>
                    <td class="text-center">
                      <ul v-if="trashed" class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.restore-poll')"
                            @click.prevent="restorPoll(poll.id)"
                          >
                            <reply-all-icon
                              fill_color="#ffc107"
                            ></reply-all-icon>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-poll')"
                            @click.prevent="deletePoll(poll.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                      <ul v-else class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <router-link
                            :to="prefix + 'poll/edit/' + poll.id"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.edit-poll')"
                          >
                            <edit-icon fill_color="#FFC107"></edit-icon>
                          </router-link>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-poll')"
                            @click.prevent="deletePoll(poll.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col">
                  <div class="actions dropdown">
                    <button
                      class="btn dropdown-toggle wp-120"
                      type="button"
                      id="dropdownActions"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="text-muted">{{
                        trans("admin.actions")
                      }}</span>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownActions"
                    >
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionDelete()"
                        >{{ trans("admin.delete-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionRestor()"
                        v-if="this.trashed"
                        >{{ trans("admin.restor-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(1)"
                        >{{ trans("admin.activate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(0)"
                        >{{ trans("admin.deactivate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeSticky(1)"
                        >{{ trans("admin.sticky-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeSticky(0)"
                        >{{ trans("admin.desticky-selected") }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <pagination
                    :pagination="polls"
                    @paginate="getPolls()"
                    :offset="4"
                  ></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      actions_check: false,
      actions_items: {},
      sort: this.$route.params.sort,
      direction: this.$route.params.direction,
      filters: {
        statu: "",
        promoted: "",
      },
      polls: {},
      status: ["0", "1"],
      sticky: ["0", "1"],
      date: {},
      trashed: false,
      languages: {},
      poll: {
        title: "",
        slug: "",
        excerpt: "",
        content: "",
        status: 0,
        sticky: 0,
        language: {},
        end_date: "",
      },
      orders: [
        {
          sort: "title",
          direction: "desc",
          text: "order-by-title-desc",
        },
        {
          sort: "title",
          direction: "asc",
          text: "order-by-title-asc",
        },
        {
          sort: "created_at",
          direction: "desc",
          text: "order-by-newest",
        },
        {
          sort: "created_at",
          direction: "asc",
          text: "order-by-oldest",
        },
      ],
    };
  },

  methods: {
    getPolls() {
      var self = this;
      var url = this.preparUrl();
      axios
        .get(url)
        .then((response) => {
          self.polls = response.data.polls;
          self.languages = response.data.languages;

          self.show_spinner = false;
          window.scroll(0, 0);
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    actionsChange() {
      var items = {};
      for (let index = 0; index < this.polls.data.length; index++) {
        this.actions_items[this.polls.data[index].id] = this.actions_check;
      }
    },
    preparUrl() {
      var base = this.ajax_prefix + "polls?";
      var page = this.polls.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }
      if (this.sort) {
        base += "sort=" + this.sort + "&";
      }
      if (this.direction) {
        base += "direction=" + this.direction + "&";
      }
      if (this.trashed) {
        base += "trashed=" + this.trashed + "&";
      }
      if (this.filters.statu) {
        base += "statu=" + this.filters.statu + "&";
      }
      if (this.filters.language_index || this.filters.language_index === 0) {
        base +=
          "language=" + this.languages[this.filters.language_index].id + "&";
      }
      if (this.filters.sticky) {
        base += "sticky=" + this.filters.sticky + "&";
      }

      return base.slice(0, -1);
    },
    filterPolls(filters) {
      this.filters = filters;
      this.polls.current_page = undefined;
      this.getPolls();
    },
    orderPolls(order) {
      this.sort = order.sort;
      this.direction = order.direction;
      this.polls.current_page = undefined;
      this.getPolls();
    },
    deletePoll(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(id, key);
      });
    },
    confirmDalete(id, key) {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      axios
        .delete(this.ajax_prefix + "poll/" + id + forced)
        .then(function (response) {
          self.actions_items[self.polls.data[key].id] = false;
          self.$delete(self.polls.data, key);

          Event.$emit(
            "notify",
            self.trans("admin.poll-deleted"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.poll-not-deleted"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    changeStatus: function (id, status, item) {
      var self = this;
      axios
        .get(this.ajax_prefix + "poll/" + id + "/status/" + status)
        .then((response) => {
          self.polls.data[item].status = parseInt(response.data.status);
          Event.$emit(
            "notify",
            self.trans("admin.poll-status-changed"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("admin.poll-status-not-changed"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    changeSticky: function (id, sticky, item) {
      var self = this;
      axios
        .get(this.ajax_prefix + "poll/" + id + "/sticky/" + sticky)
        .then((response) => {
          self.polls.data[item].sticky = parseInt(response.data.sticky);
          Event.$emit(
            "notify",
            self.trans("admin.poll-sticky-changed"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("admin.poll-sticky-not-changed"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    actionDelete() {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmActionDelete();
      });
    },
    confirmActionDelete() {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      var data = {
        action: "delete",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "poll/actions" + forced, data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.polls.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.polls.data, key);
            self.actions_items[response.data.results[index]] = false;
          }
          Event.$emit(
            "notify",
            self.trans("admin.poll-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.poll-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    actionChangeStatus(statu) {
      var self = this;
      if (statu == 1) {
        var action = "activate";
      } else {
        var action = "deactivate";
      }
      var data = {
        action: action,
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "poll/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            var item = response.data.results[index];

            let key = self.polls.data
              .map((item) => item.id)
              .indexOf(item["id"]);

            self.polls.data[key].status = item["status"];
          }
          Event.$emit(
            "notify",
            self.trans("admin.poll-status-changed"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.poll-status-not-changed"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    actionChangeSticky(statu) {
      var self = this;
      if (statu == 1) {
        var action = "sticky";
      } else {
        var action = "desticky";
      }
      var data = {
        action: action,
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "poll/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            var item = response.data.results[index];

            let key = self.polls.data
              .map((item) => item.id)
              .indexOf(item["id"]);

            self.polls.data[key].sticky = item["sticky"];
          }
          Event.$emit(
            "notify",
            self.trans("admin.poll-sticky-changed"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.poll-sticky-not-changed"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    trashedPolls(trashed) {
      this.polls.current_page = undefined;
      this.trashed = trashed;
      this.getPolls();
    },
    restorPoll(id) {
      var self = this;
      axios
        .get(this.ajax_prefix + "poll/restore/" + id)
        .then(function (response) {
          self.trashed = false;
          self.getPolls();
          Event.$emit(
            "notify",
            self.trans("admin.poll-restored"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.poll-not-restored"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    actionRestor() {
      var self = this;
      var data = {
        action: "restor",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "poll/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.polls.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.polls.data, key);
          }
          Event.$emit(
            "notify",
            self.trans("admin.poll-restored"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.poll-not-restored"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
  },
  mounted() {
    this.getPolls();
  },
};
</script>