<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.polls')"
    />
    <section class="content-header">
      <h1>{{ trans("front.polls") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link :to="prefix + 'polls'">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("front.polls") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("admin.show-poll") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-24">
          <div class="card">
            <div class="card-body p-0">
              <table class="table">
                <tbody>
                  <tr>
                    <th class="font-weight-bold">
                      {{ trans("front.question") + ": " }}
                    </th>
                    <td>{{ poll.title }}</td>
                  </tr>
                  <tr v-for="option in results.options" :key="option.id">
                    <th class="font-weight-bold">
                      {{ option.title + ": " }}
                    </th>
                    <td>{{ option.votes }} ( {{ option.option_percentage }}% )</td>
                  </tr>
                  <tr>
                    <th class="font-weight-bold">
                      {{ trans("front.totale-votes") + ": " }}
                    </th>
                    <td>{{ results.pollq_totalvoters }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      results: {
        options: []
      },
      poll: {
        title: "",
        slug: "",
        excerpt: "",
        content: "",
        options: [],
        
        status: 0,
        sticky: 0,
        language: {},
        end_date: "",
      },
    };
  },

  methods: {
    editPoll() {
      var self = this;
      axios
        .get(this.ajax_prefix + "poll/" + self.$route.params.id)
        .then(function (response) {
          self.poll = response.data.poll;
          self.results = response.data.results;
          self.show_spinner = false;
        })
        .catch(function (error) {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
  },
  mounted() {
    this.editPoll();
  },
};
</script>
