<template>
  <div class="comments">
    <div v-if="comments && comments.data.length > 0" class="comments-title">
      <h3>{{ trans("text.comments") }}</h3>
    </div>
    <div class="comments-list">
      <comment
        v-for="(comment, index) in comments.data"
        :comment="comment"
        :post_id="post_id"
        :post_type="post_type"
        :index="index"
        :key="index"
        @delete="removeItem(index)"
      ></comment>
    </div>
    <div
      v-if="comments.current_page < comments.last_page"
      class="comments-more"
    >
      <button
        type="button"
        class="btn btn-info btn-load-more"
        @click.prevent="loadMore()"
      >
        {{ trans("text.load-more") }}
      </button>
    </div>

    <div class="new-comment">
      <div class="comments-title">
        <h3>{{ trans("text.add-comment") }}</h3>
      </div>
      <form class="form-horizontal" role="form" @submit.prevent="submitComment">
        <div class="form-group">
          <label for="content">{{ trans("text.comment-body") }}</label>
          <textarea
            name="content"
            class="form-control"
            rows="4"
            v-model="comment.content"
            @keydown="errors.clear('content')"
          ></textarea>
          <small class="form-text text-danger" v-if="errors.has('content')">
            {{ errors.get("content") }}
          </small>
        </div>
        <div v-if="!user" class="form-group">
          <label for="name">{{ trans("text.comment-name") }}</label>
          <input
            id="name"
            type="text"
            class="form-control"
            name="name"
            required
            autocomplete="name"
            v-model="comment.name"
            @keydown="errors.clear('name')"
          />
          <small class="form-text text-danger" v-if="errors.has('name')">
            {{ errors.get("name") }}
          </small>
        </div>
        <div v-if="!user" class="form-group">
          <label for="email">{{ trans("text.comment-email") }}</label>
          <input
            id="email"
            type="email"
            class="form-control"
            name="email"
            required
            autocomplete="email"
            v-model="comment.email"
            @keydown="errors.clear('email')"
          />
          <small class="form-text text-danger" v-if="errors.has('email')">
            {{ errors.get("email") }}
          </small>
        </div>

        <div class="ncomment-footer">
          <button type="submit" class="btn btn-info">
            {{ trans("text.send") }}
          </button>
        </div>
      </form>
      <div
        class="alert alert-success text-center"
        role="alert"
        v-if="show_success"
      >
        {{ trans("text.message-success") }}
      </div>
      <div
        class="alert alert-warning text-center"
        role="alert"
        v-if="show_warning"
      >
        {{ trans("text.message-warning") }}
      </div>
    </div>
  </div>
</template>
<script>
const Errors = require("../../errors.js");
import { mapState } from "vuex";

export default {
  props: ["post_id", "post_type"],
  computed: {
    ...mapState({
      user: (state) => state.user.user,
    }),
  },

  data() {
    return {
      errors: new Errors(),
      saved: false,
      url: "/comments/" + this.post_type + "/" + this.post_id,
      show_success: false,
      show_warning: false,
      laoding: false,
      comments: {
        data: [],
      },
      comment: {
        content: "",
        email: "",
        name: "",
        post: this.post_id,
        type: this.post_type,
      },
    };
  },
  methods: {
    loadMore() {
      var self = this;
      var page = self.comments.current_page + 1;
      var base = this.url + "?";
      if (this.url.includes("?")) {
        base = this.url + "&";
      }
      if (page > 1) {
        base = base + "page=" + page + "&";
      }
      var url = base.slice(0, -1);
      axios
        .get(url)
        .then(function (response) {
          var comments = response.data.comments.data;
          self.comments.current_page = response.data.comments.current_page;
          for (var i = 0; i < comments.length; i++) {
            self.comments.data.push(comments[i]);
          }
        })
        .catch(function (error) {});
    },
    submitComment() {
      var self = this;
      axios
        .post("/comment", this.comment)
        .then(function (response) {
          var comment = response.data.comment;
          comment.replies = [];
          self.comments.data.push(comment);

          Event.$emit(
            "notify",
            self.trans("text.comment-added"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("text.commet-not-added"),
            "success",
            self.trans("text.warning")
          );
        });
    },
    removeItem(index) {
      this.$delete(this.comments.data, index);
    },
  },
  mounted() {
    var self = this;
    self.loading = true;
    axios
      .get(self.url)
      .then(function (response) {
        self.comments = response.data.comments;
        self.loading = false;
      })
      .catch(function (error) {});
  },
};
</script>
