<template>
  <div class="comment" :class="{ award: comment.count > 1000 }">
    <div class="comment-inner">
      <div class="comment-avatar">
        <img class :src="comment.avatar" :alt="comment.name" />
      </div>
      <div
        class="comment-content"
        :id="'' + comment.id"
        v-click-outside="closeEdit"
      >
        <h5>
          <span v-if="false" class="comment-order">{{ index + 1 }} . </span>
          <span v-html="comment.name"></span>
          <span v-if="false" class="comment-count">
            {{ trans("text.comment-count", { count: comment.count }) }}
          </span>
        </h5>
        <div v-if="edit" class="comment-edit-form">
          <form>
            <textarea
              name="comment"
              class="form-control commentTextarea"
              @keydown="updateComment($event)"
              v-model="edit_comment.content"
              rows="1"
            ></textarea>
          </form>
        </div>
        <div v-else class="comment-body" v-html="comment.content"></div>
        <div class="comment-date">{{ comment.last_update }}</div>
        <div class="comment-options">
          <ul class="list-inline">
            <li v-if="false" class="list-inline-item">
              <span class="comment-signal" @click="signalItem(index)">
                {{ trans("text.signal") }}
              </span>
            </li>
            <li class="list-inline-item">
              <span class="comment-reply" @click="reply(comment.id)">
                {{ trans("text.reply") }}
              </span>
            </li>
            <li
              class="list-inline-item"
              v-if="user && user.id == comment.user_id"
            >
              <span
                class="comment-delete"
                @click="deleteItem('comments', comment.id, index)"
              >
                {{ trans("text.delete") }}
              </span>
            </li>
            <li
              class="list-inline-item"
              v-if="user && user.id == comment.user_id"
            >
              <span class="comment-edit" @click="editComment()">
                {{ trans("text.edit") }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="replies" v-if="comment.replies">
      <comment
        v-for="(reply, index) in comment.replies"
        :comment="reply"
        :post_id="post_id"
        :post_type="post_type"
        :index="index"
        :key="index"
        @delete="removeItem(index)"
      ></comment>
    </div>
    <div class="new-reply" v-if="newReply">
      <form class="form-horizontal" role="form" @submit.prevent="submitReplay">
        <div class="form-group">
          <label for="content">{{ trans("text.comment-body") }}</label>
          <textarea
            id="content"
            name="content"
            required
            class="form-control"
            rows="4"
            v-model="replyM.content"
            @keydown="errors.clear('content')"
          ></textarea>
          <small class="form-text text-danger" v-if="errors.has('content')">
            {{ errors.get("content") }}
          </small>
        </div>
        <div v-if="!user" class="form-group">
          <label for="name">{{ trans("text.comment-name") }}</label>
          <input
            id="name"
            name="name"
            required
            autocomplete="name"
            type="text"
            class="form-control"
            v-model="replyM.name"
            @keydown="errors.clear('name')"
          />
          <small class="form-text text-danger" v-if="errors.has('name')">
            {{ errors.get("name") }}
          </small>
        </div>
        <div v-if="!user" class="form-group">
          <label for="email">{{ trans("text.comment-email") }}</label>
          <input
            id="email"
            name="email"
            required
            autocomplete="email"
            type="email"
            class="form-control"
            v-model="replyM.email"
            @keydown="errors.clear('email')"
          />
          <small class="form-text text-danger" v-if="errors.has('email')">
            {{ errors.get("email") }}
          </small>
        </div>

        <div class="ncomment-footer">
          <button type="button" class="btn btn-cancel" @click="cancelReply()">
            {{ trans("text.cancel") }}
          </button>
          <button type="submit" class="btn btn-info">
            {{ trans("text.send") }}
          </button>
        </div>
      </form>
      <div
        class="alert alert-success text-center"
        role="alert"
        v-if="show_success"
      >
        {{ trans("text.message-success") }}
      </div>
      <div
        class="alert alert-warning text-center"
        role="alert"
        v-if="show_warning"
      >
        {{ trans("text.message-warning") }}
      </div>
    </div>
  </div>
</template>
<script>
const Errors = require("../../errors.js");
import { mapState, mapGetters } from "vuex";
import ClickOutside from "vue-click-outside";

export default {
  props: {
    comment: {
      type: Object,
      required: true,
    },
    show_success: false,
    show_warning: false,
    post_id: "",
    post_type: "",
    index: "",
  },
  directives: {
    ClickOutside,
  },
  computed: {
    ...mapState({
      replay: (state) => state.comment.replay,
      user: (state) => state.user.user,
    }),
  },
  data() {
    return {
      errors: new Errors(),
      newReply: false,
      edit_comment: {
        content: "",
      },
      edit: false,
      saved: false,
      replyM: {
        content: "",
        email: "",
        name: "",
        post: this.post_id,
        type: this.post_type,
        parent: "",
      },
      saved: false,
    };
  },
  methods: {
    reply(parent) {
      this.replyM.parent = parent;
      this.newReply = true;
    },
    cancelReply() {
      this.replyM.parent = "";
      this.newReply = false;
    },
    closeEdit() {
      if (this.edit == true) {
        this.edit = false;
      }
    },
    submitReplay() {
      var self = this;
      axios
        .post("/comment", this.replyM)
        .then(function (response) {
          var replay = response.data.comment;
          replay.replies = [];
          self.comment.replies.push(replay);
          self.replyM.content = "";
          self.replyM.parent = "";
          self.replyM.email = "";
          self.replyM.name = "";
          self.newReply = false;
          Event.$emit(
            "notify",
            self.trans("text.comment-added"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("text.comment-not-added"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    likeItem(index) {
      var self = this;
      axios
        .get("/comment/like/" + self.comment.id)
        .then(function (response) {
          self.comment.like = response.data.like;
          self.comment.dislike = response.data.dislike;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    dislikeItem(index) {
      var self = this;
      axios
        .get("/comment/dislike/" + self.comment.id)
        .then(function (response) {
          self.comment.like = response.data.like;
          self.comment.dislike = response.data.dislike;
        })
        .catch(function (error) {});
    },
    signalItem(index) {
      var self = this;
      axios
        .get("/comment/signal/" + self.comment.id)
        .then(function (response) {
          Event.$emit(
            "notify",
            self.trans("text.comment-signaled"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("text.can-not-signale-comment"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    editComment() {
      this.edit = true;
      this.edit_comment.content = this.comment.content;
    },
    updateComment(e) {
      if (e.keyCode === 13 && !e.shiftKey) {
        e.preventDefault();
        var self = this;
        axios
          .put("/comment/" + self.comment.id, self.edit_comment)
          .then(function (response) {
            self.comment.content = response.data.comment.content;
            self.edit_comment.content = "";
            self.edit = false;
            Event.$emit(
              "notify",
              self.trans("text.comment-edited"),
              "success",
              self.trans("text.success")
            );
          })
          .catch(function (error) {
            Event.$emit(
              "notify",
              self.trans("text.comment-not-edit"),
              "warning",
              self.trans("text.warning")
            );
          });
      }
    },
    deleteItem(model, id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(model, id, key);
      });
    },
    confirmDalete(model, id, key) {
      var self = this;
      axios
        .delete("/comment/" + id)
        .then(function (response) {
          self.$emit("delete");
        })
        .catch(function (error) {});
    },
    removeItem(index) {
      this.$delete(this.comment.replies, index);
    },
  },
};
</script>
