<template>
  <div class="content-wrapper">
    <vue-headful :title="trans('admin.dashboard_title') + ' | ' + trans('admin.dashboard')" />
    <section class="content-header">
      <h1>{{ trans('admin.dashboard')}}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ trans('admin.dashboard')}}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      stats: {},
      show_spinner: true,
      show_error: false
    };
  },
  methods: {
    getIndex() {
      var self = this;
      axios
        .get(this.ajax_prefix)
        .then(response => {
          self.stats = response.data.stats;
          self.show_spinner = false;
        })
        .catch(error => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    }
  },
  mounted() {
    this.getIndex();
  }
};
</script>
