<template>
  <div class="content-wrapper">
    <vue-headful 
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.languages')" 
    />
    <section class="content-header">
      <h1>{{ trans("front.languages") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("front.languages") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-16">
          <div class="card">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin.all-languages") }}</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_check"
                          class="custom-control-input"
                          @change="actionsChange()"
                          id="actionsCheck"
                        />
                        <label class="custom-control-label" for="actionsCheck"></label>
                      </div>
                    </th>

                    <th scope="col">#</th>
                    <th scope="col">{{ trans("admin.locale") }}</th>
                    <th scope="col">{{ trans("front.name") }}</th>
                    <th scope="col">{{ trans("admin.script") }}</th>
                    <th scope="col">{{ trans("admin.native") }}</th>
                    <th scope="col">{{ trans("admin.regional") }}</th>
                    <th
                      scope="col"
                      style="width: 80px;text-align: center;"
                    >
                      {{ trans("admin.status") }}
                    </th>
                    <th
                      scope="col"
                      style="width: 100px;text-align: center;"
                    >
                      {{ trans("admin.options") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr 
                    v-for="(language, item) in languages.data" 
                    :key="language.id"
                  >
                    <td scope="row" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_items[language.id]"
                          class="custom-control-input"
                          :id="'actionsCheckbox' + language.id"
                        />
                        <label 
                          class="custom-control-label" 
                          :for="'actionsCheckbox' + language.id"
                        ></label>
                      </div>
                    </td>
                    <td scope="row">{{ language.id }}</td>
                    <td>{{ language.locale }}</td>
                    <td>{{ language.name }}</td>
                    <td>{{ language.script }}</td>
                    <td>{{ language.native }}</td>
                    <td>{{ language.regional }}</td>
                    <td class="text-center">
                      <a
                        v-if="language.status !== 1"
                        href="#"
                        class="text-danger"
                        @click.prevent="changeStatus(language.id, 1, item)"
                      >
                        <ban-icon fill_color="#FE6C6C"></ban-icon>
                      </a>
                      <a
                        v-else
                        href="#"
                        class="text-success"
                        @click.prevent="changeStatus(language.id, 0, item)"
                      >
                        <check-icon fill_color="#76c64e"></check-icon>
                      </a>
                    </td>
                    <td class="text-center">
                      <ul class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <router-link
                            :to="prefix + 'language/edit/' + language.id"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.edit-language')"
                          >
                            <edit-icon fill_color="#FFC107"></edit-icon>
                          </router-link>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-language')"
                            @click.prevent="deleteLanguage(language.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col">
                  <div class="actions dropdown">
                    <button
                      class="btn dropdown-toggle wp-120"
                      type="button"
                      id="dropdownActions"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="text-muted">{{trans("admin.actions") }}</span>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownActions"
                    >
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionDelete()"
                      >{{ trans("admin.delete-selected") }}</a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionChangeStatus(1)"
                      >{{ trans("admin.activate-selected") }}</a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionChangeStatus(0)"
                      >{{ trans("admin.deactivate-selected") }}</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <pagination :pagination="languages" @paginate="getLanguages()" :offset="4"></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <language-form
            :action="'create'"
            @refrech="getLanguages()"
            :avalaiblelocales="avalaible_locales"
            :language="language"
          ></language-form>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      actions_check: false,
      actions_items: {},
      languages: {},
      avalaible_locales: [],
      sort: this.$route.params.sort,
      direction: this.$route.params.direction,
      filters: {
        statu: ""
      },
      status: ["0", "1"],
      language: {
        direction: "ltr",
        status: 0,
        name_english: "",
        display: ""
      },
      orders: [
        {
          sort: "name",
          direction: "desc",
          text: "order-by-name-desc"
        },
        {
          sort: "name",
          direction: "asc",
          text: "order-by-name-asc"
        },
        {
          sort: "id",
          direction: "desc",
          text: "order-by-newest"
        },
        {
          sort: "id",
          direction: "asc",
          text: "order-by-oldest"
        }
      ]
    };
  },
  methods: {
    getLanguages() {
      var self = this;
      var url = this.preparUrl();
      axios
        .get(url)
        .then(response => {
          self.languages = response.data.languages;
          self.avalaible_locales = response.data.avalaible_locales;
          self.show_spinner = false;
          window.scroll(0, 0);
        })
        .catch(error => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    filterLanguages(filters) {
      this.filters = filters;
      this.languages.current_page = undefined;
      this.getLanguages();
    },
    actionsChange() {
      var items = {};
      for (let index = 0; index < this.languages.data.length; index++) {
        this.actions_items[this.languages.data[index].id] = this.actions_check;
      }
    },
    orderlanguages(order) {
      this.sort = order.sort;
      this.direction = order.direction;
      this.languages.current_page = undefined;
      this.getLanguages();
    },
    preparUrl() {
      var base = this.ajax_prefix + "languages?";
      var page = this.languages.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }
      if (this.sort) {
        base += "sort=" + this.sort + "&";
      }
      if (this.direction) {
        base += "direction=" + this.direction + "&";
      }
      if (this.filters.statu) {
        base += "statu=" + this.filters.statu + "&";
      }

      return base.slice(0, -1);
    },

    deleteLanguage(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(id, key);
      });
    },

    confirmDalete(id, key) {
      var self = this;
      var forced = "";
      axios
        .delete(this.ajax_prefix + "language/" + id + forced)
        .then(function (response) {
          self.actions_items[self.languages.data[key].id] = false;
          self.$delete(self.languages.data, key);
          Event.$emit(
            "notify",
            self.trans("admin.language-deleted"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.language-not-deleted"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    changeStatus: function (id, status, item) {
      var self = this;
      axios
        .get(this.ajax_prefix + "language/" + id + "/status/" + status)
        .then(response => {
          self.languages.data[item].status = parseInt(response.data.status);
          Event.$emit(
            "notify",
            self.trans("admin.language-status-changed"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(error => {
          Event.$emit(
            "notify",
            self.trans("admin.language-status-not-changed"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    actionDelete() {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmActionDelete();
      });
    },
    confirmActionDelete() {
      var self = this;
      var forced = "";

      var data = {
        action: "delete",
        items: this.actions_items
      };
      axios
        .post(this.ajax_prefix + "language/actions" + forced, data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.languages.data
              .map(item => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.languages.data, key);
            self.actions_items[response.data.results[index]] = false;
          }
          Event.$emit(
            "notify",
            self.trans("admin.language-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.language-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    actionChangeStatus(statu) {
      var self = this;
      if (statu == 1) {
        var action = "activate";
      } else {
        var action = "deactivate";
      }
      var data = {
        action: action,
        items: this.actions_items
      };
      axios
        .post(this.ajax_prefix + "language/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            var item = response.data.results[index];

            let key = self.languages.data
              .map(item => item.id)
              .indexOf(item["id"]);

            self.languages.data[key].status = item["status"];
          }
          Event.$emit(
            "notify",
            self.trans("admin.language-status-changed"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.language-status-not-changed"),
            "warning",
            self.trans("admin.warning")
          );
        });
    }
  },
  mounted() {
    this.getLanguages();
  }
  };
  </script>
