<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.posts')"
    />
    <section class="content-header">
      <h1>{{ trans("front.posts") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link :to="prefix + 'posts'">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("front.posts") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("admin.add-post") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <post-form
        :action="'create'"
        :post="post"
        :categories="categories"
      ></post-form>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      categories: {},
      post: {
        title: "",
        slug: "",
        excerpt: "",
        body: "",
        keywords: "",
        status: "0",
        comment_status: "0",
        category: {},
        client: "",
        date: "",
        skills: "",
        url: "",
        images_upload: [],
      },
    };
  },

  methods: {
    ceatePost() {
      var self = this;
      axios
        .get(this.ajax_prefix + "post/create")
        .then(function (response) {
          self.categories = response.data.categories;

          self.show_spinner = false;
        })
        .catch(function (error) {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
  },
  mounted() {
    this.ceatePost();
  },
};
</script>
