<template>
  <div class="card">
    <form role="form" @submit.prevent="storePost()">
      <div class="card-head">
        <h3 v-if="action == 'create'" class="card-title">
          {{ trans("admin.create-post") }}
        </h3>
        <h3 v-else class="card-title">{{ trans("admin.edit-post") }}</h3>
      </div>
      <div class="card-body table-responsive">
        <div class="row">
          <div class="col-md-17">
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.title") }}</label>
              <input
                type="text"
                name="title"
                class="form-control"
                v-model="post.title"
                @keydown="errors.clear('title')"
              />
              <small class="form-text text-danger" v-if="errors.has('title')">
                {{ errors.get("title") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.slug") }}</label>
              <input
                type="text"
                name="slug"
                class="form-control"
                v-model="post.slug"
                @keydown="errors.clear('slug')"
              />
              <small class="form-text text-danger" v-if="errors.has('slug')">
                {{ errors.get("slug") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.excerpt") }}</label>
              <textarea
                name="excerpt"
                class="form-control"
                v-model="post.excerpt"
                rows="3"
                @change="errors.clear('excerpt')"
              ></textarea>
              <small class="form-text text-danger" v-if="errors.has('excerpt')">
                {{ errors.get("excerpt") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.body") }}</label>
              <textarea
                name="body"
                id="descr"
                class="form-control"
                v-model="post.body"
                rows="10"
                @change="errors.clear('body')"
              ></textarea>
              <small class="form-text text-danger" v-if="errors.has('body')">
                {{ errors.get("body") }}
              </small>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{
                trans("admin.keywords")
              }}</label>
              <textarea
                name="keywords"
                class="form-control"
                v-model="post.keywords"
                rows="3"
                @change="errors.clear('keywords')"
              ></textarea>
              <small
                class="form-text text-danger"
                v-if="errors.has('keywords')"
              >
                {{ errors.get("keywords") }}
              </small>
            </div>
            <div class="form-group">
              <label>{{ trans("admin.status") }}</label>
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      value="1"
                      id="customRadiostatus1"
                      class="custom-control-input"
                      v-model="post.status"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadiostatus1"
                    >
                      {{ trans("admin.active") }}
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      value="0"
                      id="customRadiostatus2"
                      class="custom-control-input"
                      v-model="post.status"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadiostatus2"
                    >
                      {{ trans("admin.deactive") }}
                    </label>
                  </div>
                </div>
              </div>
              <small class="form-text text-danger" v-if="errors.has('status')">
                {{ errors.get("status") }}
              </small>
            </div>
            <div class="form-group">
              <label>{{ trans("admin.comment_status") }}</label>
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      value="1"
                      id="customRadiocomment_status1"
                      class="custom-control-input"
                      v-model="post.comment_status"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadiocomment_status1"
                    >
                      {{ trans("admin.yes") }}
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      value="0"
                      id="customRadiocomment_status2"
                      class="custom-control-input"
                      v-model="post.comment_status"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadiocomment_status2"
                    >
                      {{ trans("admin.no") }}
                    </label>
                  </div>
                </div>
              </div>
              <small
                class="form-text text-danger"
                v-if="errors.has('comment_status')"
              >
                {{ errors.get("comment_status") }}
              </small>
            </div>
            <div class="form-group">
              <label>{{ trans("admin.category") }}</label>
              <multiselect
                v-model="post.category"
                selected-label
                select-label
                deselect-label
                :options="categories"
                :placeholder="trans('admin.category')"
                label="name"
                track-by="id"
                :multiple="false"
              >
                <span slot="noResult">{{ trans("text.no-item-found") }}</span>
              </multiselect>
              <small
                class="form-text text-danger"
                v-if="errors.has('category')"
              >
                {{ errors.get("category") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.client") }}</label>
              <input
                type="text"
                name="client"
                class="form-control"
                v-model="post.client"
                @keydown="errors.clear('client')"
              />
              <small class="form-text text-danger" v-if="errors.has('client')">
                {{ errors.get("client") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.date") }}</label>
              <input
                type="text"
                name="date"
                class="form-control"
                v-model="post.date"
                @keydown="errors.clear('date')"
              />
              <small class="form-text text-danger" v-if="errors.has('date')">
                {{ errors.get("date") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.skills") }}</label>
              <input
                type="text"
                name="skills"
                class="form-control"
                v-model="post.skills"
                @keydown="errors.clear('skills')"
              />
              <small class="form-text text-danger" v-if="errors.has('skills')">
                {{ errors.get("skills") }}
              </small>
            </div>
            <div class="form-group">
              <label class="col-form-label">{{ trans("admin.url") }}</label>
              <input
                type="text"
                name="url"
                class="form-control"
                v-model="post.url"
                @keydown="errors.clear('url')"
              />
              <small class="form-text text-danger" v-if="errors.has('url')">
                {{ errors.get("url") }}
              </small>
            </div>
            <div class="form-group">
              <label>{{ trans("admin.images") }}</label>
              <upload-images
                @uploaded="imagesUploaded"
                @removed="imagesDeleted"
                :nbr="1"
                :type="'post_images'"
                :images="post.old_images"
              ></upload-images>
              <small class="form-text text-danger" v-if="errors.has('images')">
                {{ errors.get("images") }}
              </small>
            </div>
          </div>
          <div class="col-md-7"></div>
        </div>
      </div>
      <div class="card-footer clearfix">
        <div class="float-right">
          <button
            v-if="action == 'create'"
            type="submit"
            class="btn btn-info btn-sm"
          >
            {{ trans("admin.create") }}
          </button>
          <button v-else type="submit" class="btn btn-info btn-sm">
            {{ trans("text.save") }}
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
const Errors = require("../../errors.js");
export default {
  props: ["action", "post", "categories"],

  data() {
    return {
      errors: new Errors(),
    };
  },

  mounted() {
    this.initEditor();
  },

  methods: {
    imagesUploaded(images) {
      this.post.images_upload.push(images);
    },
    imagesDeleted(key) {
      var i;
      for (i = 0; i < this.post.images_upload.length; i++) {
        if (this.post.images_upload[i].key == key) {
          this.post.images_upload.splice(i, 1);
        }
      }
    },
    storePost() {
      var self = this;
      var data = this.post;
      if (this.action == "edit") {
        axios
          .put(this.ajax_prefix + "post/" + this.post.id, data)
          .then((response) => {
            self.$router.push(this.prefix + "posts");
            Event.$emit(
              "notify",
              self.trans("admin.post-edited"),
              "success",
              self.trans("text.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("admin.post-not-edited"),
              "warning",
              self.trans("text.warning")
            );
          });
      } else {
        axios
          .post(this.ajax_prefix + "post", data)
          .then((response) => {
            self.$router.push(this.prefix + "posts");
            self.$emit("refrech");
            Event.$emit(
              "notify",
              self.trans("admin.post-added"),
              "success",
              self.trans("text.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("admin.post-not-added"),
              "warning",
              self.trans("text.warning")
            );
          });
      }
    },
    initEditor(soar, level) {
      var self = this;
      $(document).ready(function () {
        var options = {
          height: "50vh",
          language: "ar",
          filebrowserImageUploadUrl:
            self.ajax_prefix +
            "images/ckupload?_token=" +
            App.csrfToken +
            "&type=image",
          toolbar: [
            {
              name: "clipboard",
              items: ["Undo", "Redo"],
            },
            {
              name: "styles",
              items: ["Cut", "Copy", "Paste", "PasteText", "PasteFromWord"],
            },
            {
              name: "styles",
              items: ["Styles", "Format"],
            },
            {
              name: "basicstyles",
              items: ["Bold", "Italic", "Strike", "-", "RemoveFormat"],
            },
            {
              name: "paragraph",
              items: [
                "NumberedList",
                "BulletedList",
                "-",
                "Outdent",
                "Indent",
                "-",
                "Blockquote",
              ],
            },
            {
              name: "links",
              items: ["Link", "Unlink"],
            },

            {
              name: "tools",
              items: ["Maximize"],
            },
            {
              name: "insert",
              items: ["Image", "Youtube", "Table"],
            },
            {
              name: "editing",
              items: ["Scayt", "Source"],
            },
          ],
        };

        CKEDITOR.replace("descr", options);
        CKEDITOR.instances.descr.on("change", function () {
          self.post.body = CKEDITOR.instances.descr.getData();
        });
        CKEDITOR.instances.descr.on("instanceReady", () => {
          CKEDITOR.instances.descr.setData(self.post.body);
        });
      });
    },
  },
};
</script>