<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('front.posts')"
    />
    <section class="content-header">
      <h1>{{ trans("front.posts") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("front.posts") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-24">
          <div class="card">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin.all-posts") }}</h3>
              <div class="card-tools">
                <div class="pull-left">
                  <router-link :to="prefix + 'post/create'">
                    <button class="btn btn-primary btn-sm">
                      {{ trans("admin.add-post") }}
                    </button>
                  </router-link>
                  <a
                    v-if="trashed"
                    @click.prevent="trashedPosts(false)"
                    class="btn btn-info btn-sm"
                  >
                    <folder-open-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></folder-open-icon>
                    {{ trans("admin.all") }}
                  </a>
                  <a
                    v-else
                    @click.prevent="trashedPosts(true)"
                    class="btn btn-info btn-sm"
                  >
                    <recycle-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></recycle-icon>
                    {{ trans("admin.trashed") }}
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <filtering
                :orders="orders"
                @order="orderPosts"
                :status="status"
                :categories="categories"
                @filter="filterPosts"
              ></filtering>
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_check"
                          class="custom-control-input"
                          @change="actionsChange()"
                          id="actionsCheck"
                        />
                        <label
                          class="custom-control-label"
                          for="actionsCheck"
                        ></label>
                      </div>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">{{ trans("admin.title") }}</th>
                    <th scope="col">{{ trans("admin.author") }}</th>
                    <th scope="col">{{ trans("admin.category") }}</th>
                    <th scope="col" style="width: 80px; text-align: center">
                      {{ trans("admin.status") }}
                    </th>
                    <th scope="col">{{ trans("admin.date") }}</th>

                    <th scope="col" style="width: 100px; text-align: center">
                      {{ trans("admin.options") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(post, item) in posts.data" :key="post.id">
                    <td scope="row" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_items[post.id]"
                          class="custom-control-input"
                          :id="'actionsCheckbox' + post.id"
                        />
                        <label
                          class="custom-control-label"
                          :for="'actionsCheckbox' + post.id"
                        ></label>
                      </div>
                    </td>
                    <td scope="row">{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td v-if="post.author">{{ post.author.name }}</td>
                    <td v-else>-</td>
                    <td v-if="post.category">{{ post.category.name }}</td>
                    <td v-else>-</td>
                    <td class="text-center">
                      <a
                        v-if="post.status !== 1"
                        href="#"
                        class="text-danger"
                        @click.prevent="changeStatus(post.id, 1, item)"
                      >
                        <ban-icon fill_color="#FE6C6C"></ban-icon>
                      </a>
                      <a
                        v-else
                        href="#"
                        class="text-success"
                        @click.prevent="changeStatus(post.id, 0, item)"
                      >
                        <check-icon fill_color="#76c64e"></check-icon>
                      </a>
                    </td>
                    <td>{{ post.created_at }}</td>

                    <td class="text-center">
                      <ul v-if="trashed" class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.restore-post')"
                            @click.prevent="restorPost(post.id)"
                          >
                            <reply-all-icon
                              fill_color="#ffc107"
                            ></reply-all-icon>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-post')"
                            @click.prevent="deletePost(post.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                      <ul v-else class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <router-link
                            :to="prefix + 'post/edit/' + post.id"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.edit-post')"
                          >
                            <edit-icon fill_color="#FFC107"></edit-icon>
                          </router-link>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-post')"
                            @click.prevent="deletePost(post.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col">
                  <div class="actions dropdown">
                    <button
                      class="btn dropdown-toggle wp-120"
                      type="button"
                      id="dropdownActions"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="text-muted">
                        {{ trans("admin.actions") }}
                      </span>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownActions"
                    >
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionDelete()"
                      >
                        {{ trans("admin.delete-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionRestor()"
                        v-if="this.trashed"
                      >
                        {{ trans("admin.restor-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(1)"
                      >
                        {{ trans("admin.status-active-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(0)"
                      >
                        {{ trans("admin.status-deactive-selected") }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <pagination
                    :pagination="posts"
                    @paginate="getPosts()"
                    :offset="4"
                  ></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      actions_check: false,
      actions_items: {},
      sort: this.$route.params.sort,
      direction: this.$route.params.direction,
      filters: {
        statu: "",
        category: "",
      },
      posts: {},
      status: ["0", "1"],
      category: {},
      trashed: false,
      categories: {},
      post: {
        title: "",
        slug: "",
        excerpt: "",
        body: "",
        keywords: "",
        status: 0,
        comment_status: 0,
        category: {},
        thumb: "",
      },
      orders: [
        {
          sort: "title",
          direction: "desc",
          text: "order-by-title-desc",
        },
        {
          sort: "title",
          direction: "asc",
          text: "order-by-title-asc",
        },
        {
          sort: "created_at",
          direction: "desc",
          text: "order-by-newest",
        },
        {
          sort: "created_at",
          direction: "asc",
          text: "order-by-oldest",
        },
      ],
    };
  },

  methods: {
    getPosts() {
      var self = this;
      var url = this.preparUrl();
      axios
        .get(url)
        .then((response) => {
          self.posts = response.data.posts;
          self.categories = response.data.categories;

          self.show_spinner = false;
          window.scroll(0, 0);
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    actionsChange() {
      var items = {};
      for (let index = 0; index < this.posts.data.length; index++) {
        this.actions_items[this.posts.data[index].id] = this.actions_check;
      }
    },
    preparUrl() {
      var base = this.ajax_prefix + "posts?";
      var page = this.posts.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }
      if (this.sort) {
        base += "sort=" + this.sort + "&";
      }
      if (this.direction) {
        base += "direction=" + this.direction + "&";
      }
      if (this.trashed) {
        base += "trashed=" + this.trashed + "&";
      }
      if (this.filters.statu) {
        base += "statu=" + this.filters.statu + "&";
      }
      if (this.filters.category) {
        base += "category=" + this.filters.category.id + "&";
      }

      return base.slice(0, -1);
    },
    filterPosts(filters) {
      this.filters = filters;
      this.posts.current_page = undefined;
      this.getPosts();
    },
    orderPosts(order) {
      this.sort = order.sort;
      this.direction = order.direction;
      this.posts.current_page = undefined;
      this.getPosts();
    },
    deletePost(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(id, key);
      });
    },
    confirmDalete(id, key) {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      axios
        .delete(this.ajax_prefix + "post/" + id + forced)
        .then(function (response) {
          self.actions_items[self.posts.data[key].id] = false;
          self.$delete(self.posts.data, key);

          Event.$emit(
            "notify",
            self.trans("admin.post-deleted"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.post-not-deleted"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    changeStatus: function (id, status, item) {
      var self = this;
      axios
        .get(this.ajax_prefix + "post/" + id + "/status/" + status)
        .then((response) => {
          self.posts.data[item].status = parseInt(response.data.status);
          Event.$emit(
            "notify",
            self.trans("admin.post-status-changed"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("admin.post-status-not-changed"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    actionDelete() {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmActionDelete();
      });
    },
    confirmActionDelete() {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      var data = {
        action: "delete",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "post/actions" + forced, data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.posts.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.posts.data, key);
            self.actions_items[response.data.results[index]] = false;
          }
          Event.$emit(
            "notify",
            self.trans("admin.post-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.post-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    actionChangeStatus(status) {
      var self = this;
      if (status == 1) {
        var action = "status-active";
      } else {
        var action = "status-deactive";
      }
      var data = {
        action: action,
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "post/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            var item = response.data.results[index];

            let key = self.posts.data
              .map((item) => item.id)
              .indexOf(item["id"]);

            self.posts.data[key].status = item["status"];
          }
          Event.$emit(
            "notify",
            self.trans("admin.post-status-changed"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.post-status-not-changed"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    trashedPosts(trashed) {
      this.posts.current_page = undefined;
      this.trashed = trashed;
      this.getPosts();
    },
    restorPost(id) {
      var self = this;
      axios
        .get(this.ajax_prefix + "post/restore/" + id)
        .then(function (response) {
          self.trashed = false;
          self.getPosts();
          Event.$emit(
            "notify",
            self.trans("admin.post-restored"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.post-not-restored"),
            "warning",
            self.trans("text.warning")
          );
        });
    },
    actionRestor() {
      var self = this;
      var data = {
        action: "restor",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "post/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.posts.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.posts.data, key);
          }
          Event.$emit(
            "notify",
            self.trans("admin.post-restored"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.post-not-restored"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
  },
  mounted() {
    this.getPosts();
  },
};
</script>