<template>
  <div class="content-wrapper">
    <vue-headful
      :title="
        trans('admin.dashboard_title') + ' | ' + trans('front.categories')
      "
    />
    <section class="content-header">
      <h1>{{ trans("front.categories") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link :to="prefix + 'categories'">
            <category-icon fill_color="#818896"></category-icon>
            {{ trans("front.categories") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">
          {{ trans("admin.edit-category") }}
        </li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <category-form
        :action="'edit'"
        :category="category"
        :categories="categories"
      ></category-form>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      categories: {},
      category: {
        name: "",
        slug: "",
        order: "",
        parent: {},
        description: "",
        keywords: "",
        status: 0,
        thumb: "",
      },
    };
  },

  methods: {
    editCategory() {
      var self = this;
      axios
        .get(this.ajax_prefix + "category/edit/" + self.$route.params.id)
        .then(function (response) {
          self.category = response.data.category;
          self.categories = response.data.all_categories;
          self.show_spinner = false;
        })
        .catch(function (error) {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
  },

  mounted() {
    this.editCategory();
  },
};
</script>
