<template>
  <div class="card">
    <form role="form" @submit.prevent="storeCategory()">
      <div class="card-head">
        <h3 v-if="action == 'create'" class="card-title">
          {{ trans("admin.create-category") }}
        </h3>
        <h3 v-else class="card-title">{{ trans("admin.edit-category") }}</h3>
      </div>
      <div class="card-body table-responsive">
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.name") }}</label>
          <input
            type="text"
            name="name"
            class="form-control"
            v-model="category.name"
            @keydown="errors.clear('name')"
          />
          <small class="form-text text-danger" v-if="errors.has('name')">
            {{ errors.get("name") }}
          </small>
        </div>
        <div v-if="action != 'create'" class="form-group">
          <label class="col-form-label">{{ trans("admin.slug") }}</label>
          <input
            type="text"
            name="slug"
            class="form-control"
            v-model="category.slug"
            @keydown="errors.clear('slug')"
          />
          <small class="form-text text-danger" v-if="errors.has('slug')">
            {{ errors.get("slug") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.order") }}</label>
          <input
            type="number"
            name="order"
            class="form-control"
            v-model="category.order"
            @keydown="errors.clear('order')"
          />
          <small class="form-text text-danger" v-if="errors.has('order')">
            {{ errors.get("order") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">
            {{ trans("admin.category_parent") }}
          </label>
          <multiselect
            v-model="category.parent"
            selected-label
            select-label
            deselect-label
            :options="categories"
            :placeholder="trans('admin.parent')"
            label="name"
            track-by="id"
            :multiple="false"
          >
            <span slot="noResult">{{ trans("text.no-item-found") }}</span>
          </multiselect>
          <small class="form-text text-danger" v-if="errors.has('parent')">
            {{ errors.get("parent") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.description") }}</label>
          <textarea
            name="description"
            class="form-control"
            v-model="category.description"
            rows="3"
            @change="errors.clear('description')"
          ></textarea>
          <small class="form-text text-danger" v-if="errors.has('description')">
            {{ errors.get("description") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.keywords") }}</label>
          <textarea
            name="keywords"
            class="form-control"
            v-model="category.keywords"
            rows="3"
            @change="errors.clear('keywords')"
          ></textarea>
          <small class="form-text text-danger" v-if="errors.has('keywords')">
            {{ errors.get("keywords") }}
          </small>
        </div>
        <div class="form-group">
          <label>{{ trans("admin.status") }}</label>
          <div class="row">
            <div class="col">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  value="1"
                  id="customRadiostatus1"
                  class="custom-control-input"
                  v-model="category.status"
                />
                <label class="custom-control-label" for="customRadiostatus1">
                  {{ trans("admin.active") }}
                </label>
              </div>
            </div>
            <div class="col">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  value="0"
                  id="customRadiostatus2"
                  class="custom-control-input"
                  v-model="category.status"
                />
                <label class="custom-control-label" for="customRadiostatus2">
                  {{ trans("admin.deactive") }}
                </label>
              </div>
            </div>
          </div>
          <small class="form-text text-danger" v-if="errors.has('status')">
            {{ errors.get("status") }}
          </small>
        </div>
        <div class="form-group">
          <label>{{ trans("admin.thumb") }}</label>
          <upload-image
            @uploaded="imageUploaded"
            :nbr="1"
            :type="'cat_thumb'"
            :image="category.old_thumb"
          ></upload-image>
          <small class="form-text text-danger" v-if="errors.has('image_2_id')">
            {{ errors.get("image_2_id") }}
          </small>
        </div>
      </div>
      <div class="card-footer clearfix">
        <div class="float-right">
          <button
            v-if="action == 'create'"
            type="submit"
            class="btn btn-info btn-sm"
          >
            {{ trans("admin.create") }}
          </button>
          <button v-else type="submit" class="btn btn-info btn-sm">
            {{ trans("text.save") }}
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
const Errors = require("../../errors.js");
export default {
  props: ["action", "category", "categories"],

  data() {
    return {
      errors: new Errors(),
    };
  },

  mounted() {},

  methods: {
    imageUploaded(image) {
      this.category.thumb = image;
    },

    storeCategory() {
      var self = this;
      var data = this.category;
      if (this.category.parent && this.category.parent.id != undefined) {
        data.parent_id = this.category.parent.id;
      } else {
        data.parent_id = null;
      }
      if (this.action == "edit") {
        axios
          .put(this.ajax_prefix + "category/" + this.category.id, data)
          .then((response) => {
            if (!data.parent_id || data.parent_id == null) {
              self.$router.push(this.prefix + "categories");
              self.$emit("refrech");
            } else {
              self.$router.push(this.prefix + "category/" + data.parent_id);
              self.$emit("refrech");
            }
            Event.$emit(
              "notify",
              self.trans("admin.category-edited"),
              "success",
              self.trans("admin.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("admin.category-not-edited"),
              "warning",
              self.trans("admin.warning")
            );
          });
      } else {
        axios
          .post(this.ajax_prefix + "category", data)
          .then((response) => {
            if (response.data.category.parent_id == undefined) {
              self.$router.push(this.prefix + "categories");
              self.$emit("refrech");
            } else {
              self.$router.push(
                this.prefix + "category/" + response.data.category.parent_id
              );
              self.$emit("refrech");
            }
            Event.$emit(
              "notify",
              self.trans("admin.category-added"),
              "success",
              self.trans("admin.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("admin.category-not-added"),
              "warning",
              self.trans("admin.warning")
            );
          });
      }
    },
  },
};
</script>