<template>
  <div class="content-wrapper">
    <vue-headful
      :title="
        trans('admin.dashboard_title') + ' | ' + trans('front.categories')
      "
    />
    <section class="content-header">
      <h1>{{ trans("front.categories") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <template v-for="(breadcrumb, key) in breadcrumbs">
          <li v-if="breadcrumb.url" :key="key" class="breadcrumb-item">
            <router-link :to="prefix + breadcrumb.url">
              {{ breadcrumb.name }}
            </router-link>
          </li>
          <li v-else :key="key" class="breadcrumb-item active">
            {{ breadcrumb.name }}
          </li>
        </template>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-16">
          <div class="card">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin.all-categories") }}</h3>
              <div class="card-tools">
                <div class="pull-left"></div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_check"
                          class="custom-control-input"
                          @change="actionsChange()"
                          id="actionsCheck"
                        />
                        <label
                          class="custom-control-label"
                          for="actionsCheck"
                        ></label>
                      </div>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">{{ trans("admin.name") }}</th>
                    <th scope="col">{{ trans("admin.description") }}</th>
                    <th scope="col">{{ trans("admin.slug") }}</th>
                    <th scope="col" style="width: 80px; text-align: center">
                      {{ trans("admin.status") }}
                    </th>
                    <th scope="col" style="width: 100px; text-align: center">
                      {{ trans("admin.options") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(category, item) in categories.data"
                    :key="category.id"
                  >
                    <td scope="row" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_items[category.id]"
                          class="custom-control-input"
                          :id="'actionsCheckbox' + category.id"
                        />
                        <label
                          class="custom-control-label"
                          :for="'actionsCheckbox' + category.id"
                        ></label>
                      </div>
                    </td>
                    <td scope="row">{{ category.order }}</td>
                    <td>
                      <router-link :to="prefix + 'category/' + category.id">
                        {{ category.name }}
                      </router-link>
                    </td>
                    <td v-html="category.description"></td>
                    <td>{{ category.slug }}</td>
                    <td class="text-center">
                      <a
                        v-if="category.status !== 1"
                        href="#"
                        class="text-danger"
                        @click.prevent="changeStatus(category.id, 1, item)"
                      >
                        <ban-icon fill_color="#FE6C6C"></ban-icon>
                      </a>
                      <a
                        v-else
                        href="#"
                        class="text-success"
                        @click.prevent="changeStatus(category.id, 0, item)"
                      >
                        <check-icon fill_color="#76c64e"></check-icon>
                      </a>
                    </td>
                    <td class="text-center">
                      <ul class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <router-link
                            :to="prefix + 'category/edit/' + category.id"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.edit-category')"
                          >
                            <edit-icon fill_color="#FFC107"></edit-icon>
                          </router-link>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="
                              trans('admin.delete-category')
                            "
                            @click.prevent="deleteCategory(category.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col">
                  <div class="actions dropdown">
                    <button
                      class="btn dropdown-toggle wp-120"
                      type="button"
                      id="dropdownActions"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="text-muted">
                        {{ trans("admin.actions") }}
                      </span>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownActions"
                    >
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionDelete()"
                      >
                        {{ trans("admin.delete-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionChangeStatus(1)"
                      >
                        {{ trans("admin.activate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionChangeStatus(0)"
                      >
                        {{ trans("admin.deactivate-selected") }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <pagination
                    :pagination="categories"
                    @paginate="getCategories()"
                    :offset="4"
                  ></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <category-form
            :action="'create'"
            @refrech="getCategories()"
            :category="category"
            :categories="all_categories"
          ></category-form>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      actions_check: false,
      actions_items: {},
      sort: this.$route.params.sort,
      direction: this.$route.params.direction,
      filters: {},
      categories: {},
      all_categories: [],
      breadcrumbs: [],
      category: {
        name: "",
        slug: "",
        order: "",
        parent: {},
        description: "",
        keywords: "",
        status: "0",
        thumb: "",
      },
      orders: [
        {
          sort: "name",
          direction: "desc",
          text: "order-by-name-desc",
        },
        {
          sort: "name",
          direction: "asc",
          text: "order-by-name-asc",
        },
        {
          sort: "order",
          direction: "desc",
          text: "order-by-order-desc",
        },
        {
          sort: "order",
          direction: "asc",
          text: "order-by-order-asc",
        },
      ],
    };
  },

  methods: {
    getCategories() {
      var self = this;
      var url = this.preparUrl();
      this.category = {
        name: "",
        slug: "",
        order: "",
        parent: {},
        description: "",
        keywords: "",
        status: "0",
        thumb: "",
      };

      axios
        .get(url)
        .then((response) => {
          self.categories = response.data.categories;
          self.all_categories = response.data.all_categories;
          self.breadcrumbs = response.data.breadcrumbs;

          self.show_spinner = false;
          window.scroll(0, 0);
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },

    actionsChange() {
      var items = {};
      for (let index = 0; index < this.categories.data.length; index++) {
        this.actions_items[this.categories.data[index].id] = this.actions_check;
      }
    },

    preparUrl() {
      var base = this.$route.path.replace("/palmcp/", this.ajax_prefix) + "?";
      var page = this.categories.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }
      if (this.sort) {
        base += "sort=" + this.sort + "&";
      }
      if (this.direction) {
        base += "direction=" + this.direction + "&";
      }
      return base.slice(0, -1);
    },

    orderCategories(order) {
      this.sort = order.sort;
      this.direction = order.direction;
      this.categories.current_page = undefined;
      this.getCategories();
    },

    deleteCategory(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(id, key);
      });
    },

    confirmDalete(id, key) {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      axios
        .delete(this.ajax_prefix + "category/" + id + forced)
        .then(function (response) {
          self.actions_items[self.categories.data[key].id] = false;
          self.$delete(self.categories.data, key);

          Event.$emit(
            "notify",
            self.trans("admin.category-deleted"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.category-not-deleted"),
            "warning",
            self.trans("text.warning")
          );
        });
    },

    changeStatus: function (id, status, item) {
      var self = this;
      axios
        .get(this.ajax_prefix + "category/" + id + "/status/" + status)
        .then((response) => {
          self.categories.data[item].status = parseInt(response.data.status);
          Event.$emit(
            "notify",
            self.trans("admin.category-status-changed"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("admin.category-status-not-changed"),
            "warning",
            self.trans("text.warning")
          );
        });
    },

    actionDelete() {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmActionDelete();
      });
    },

    confirmActionDelete() {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      var data = {
        action: "delete",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "category/actions" + forced, data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.categories.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.categories.data, key);
            self.actions_items[response.data.results[index]] = false;
          }
          Event.$emit(
            "notify",
            self.trans("admin.category-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.category-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },

    actionChangeStatus(statu) {
      var self = this;
      if (statu == 1) {
        var action = "activate";
      } else {
        var action = "deactivate";
      }
      var data = {
        action: action,
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "category/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            var item = response.data.results[index];

            let key = self.categories.data
              .map((item) => item.id)
              .indexOf(item["id"]);

            self.categories.data[key].status = item["status"];
          }
          Event.$emit(
            "notify",
            self.trans("admin.category-status-changed"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.category-status-not-changed"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
  },

  mounted() {
    this.getCategories();
  },

  watch: {
    "$route.params.id": function (id) {
      this.getCategories();
    },
  },
};
</script>