<template>
  <div class="content-wrapper">
    <vue-headful :title="trans('admin.dashboard_title')" />
    <section class="content-header">
      <h1>{{ trans("admin.links") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link :to="prefix + 'menus'">
            <menu-icon fill_color="#818896"></menu-icon>
            {{ trans("admin.menus") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("admin.edit-link") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="page-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-14 mx-auto">
          <link-form
            :action="'edit'"
            :selected_item="selected_item"
            :selected_type="selected_type"
            :linkable_types="linkable_types"
            :menus="menus"
            :linkable_items="linkable_items"
            :inlink="link"
            :links="links"
          ></link-form>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show_spinner: true,
      show_error: false,
      link: {
        name: "",
        order: "",
        url: "",
        linkable_type: "",
        linkable_id: "",
        parent_id: "",
        menu_id: "",
      },
      menus: {},
      links: [],
      linkable_types: {},
      linkable_items: {},
      selected_type: "",
      selected_item: {},
    };
  },
  mounted() {
    var self = this;
    axios
      .get(this.ajax_prefix + "link/edit/" + this.$route.params.id)
      .then((response) => {
        self.menus = response.data.menus;
        self.links = response.data.links;
        self.link = response.data.link;
        self.selected_type = response.data.selected_type;
        self.selected_item = response.data.selected_item;
        self.linkable_items = response.data.linkable_items;
        self.linkable_types = response.data.linkable_types;
        self.show_spinner = false;
      })
      .catch((error) => {
        self.show_spinner = false;
        self.show_error = error.response.status;
      });
  },
};
</script>
