<template>
  <div class="card">
    <form role="form" @submit.prevent="submit()">
      <div class="card-head">
        <h3 v-if="action == 'create'" class="card-title">
          {{ trans("admin.create-link") }}
        </h3>
        <h3 v-else class="card-title">{{ trans("admin.edit-link") }}</h3>
      </div>
      <div class="card-body table-responsive">
        <div class="form-group">
          <label class="col-form-label">
            {{ trans("admin.linkable_type") }}
          </label>
          <select
            name="linkable_type"
            v-model="in_selected_type"
            class="form-control"
            @change="selectType(false)"
          >
            <option v-for="(type, key) in linkable_types" :value="key" :key="key">
              {{ type }}
            </option>
          </select>
          <small
            class="form-text text-danger"
            v-if="errors.has('linkable_type')"
          >
            {{ errors.get("linkable_type") }}
          </small>
        </div>
        <div v-if="in_selected_type == 'Url'" class="form-group">
          <label class="col-form-label">{{ trans("admin.url") }}</label>
          <input
            type="text"
            name="url"
            class="form-control"
            v-model="link.url"
            @keydown="errors.clear('url')"
          />
          <small class="form-text text-danger" v-if="errors.has('url')">
            {{ errors.get("url") }}
          </small>
        </div>
        <div v-else class="form-group">
          <label class="col-form-label">{{ trans("admin.linkable_id") }}</label>
          <multiselect
            v-model="in_selected_item"
            selected-label
            select-label
            deselect-label
            :options="in_linkable_items"
            :placeholder="trans('admin.linkable')"
            label="name"
            track-by="id"
            @input="selectItem()"
            :multiple="false"
            open-direction="bottom"
            :searchable="true"
            :options-limit="100"
            :show-no-results="false"
            :hide-selected="true"
            @search-change="selectType"
          >
            <span slot="noResult">{{ trans("text.no-item-found") }}</span>
          </multiselect>
          <small class="form-text text-danger" v-if="errors.has('linkable_id')">
            {{ errors.get("linkable_id") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.name") }}</label>
          <input
            type="text"
            name="name"
            class="form-control"
            v-model="link.name"
            @keydown="errors.clear('name')"
          />
          <small class="form-text text-danger" v-if="errors.has('name')">
            {{ errors.get("name") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.order") }}</label>
          <input
            type="number"
            name="order"
            class="form-control"
            v-model="link.order"
            @keydown="errors.clear('order')"
          />
          <small class="form-text text-danger" v-if="errors.has('order')">
            {{ errors.get("order") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.parent") }}</label>
          <select
            name="parent"
            v-model="link.parent_id"
            class="form-control"
            @change="errors.clear('parent_id')"
          >
            <option v-for="parent in links" :value="parent.id" :key="parent.id">
              {{ parent.name }}
            </option>
          </select>
          <small class="form-text text-danger" v-if="errors.has('parent_id')">
            {{ errors.get("parent_id") }}
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">{{ trans("admin.menu") }}</label>
          <select
            name="menu"
            v-model="link.menu_id"
            class="form-control"
            @change="errors.clear('menu_id')"
          >
            <option v-for="menu in menus" :value="menu.id" :key="menu.id">
              {{ menu.name }}
            </option>
          </select>
          <small class="form-text text-danger" v-if="errors.has('menu_id')">
            {{ errors.get("menu_id") }}
          </small>
        </div>
      </div>
      <div class="card-footer clearfix">
        <div class="float-left">
          <button
            v-if="action == 'create'"
            type="submit"
            class="btn btn-info btn-sm"
          >
            {{ trans("admin.create") }}
          </button>
          <button v-else type="submit" class="btn btn-info btn-sm">
            {{ trans("admin.save") }}
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
const Errors = require("../../errors.js");

export default {
  props: [
    "action",
    "inlink",
    "menus",
    "linkable_types",
    "links",
    "selected_type",
    "selected_item",
    "linkable_items",
  ],
  data() {
    return {
      errors: new Errors(),
      link: this.inlink,
      in_selected_type: "",
      in_selected_item: "",
      in_linkable_items: [],
    };
  },

  methods: {
    selectType(query) {
      var self = this;
      var data = {
        type: self.in_selected_type,
        query: query,
      };
      self.link.linkable_type = self.in_selected_type;
      self.link.name = "";

      axios
        .post(self.ajax_prefix + "link/get-items", data)
        .then((response) => {
          self.in_linkable_items = response.data.items;
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("messages.error-loading-data"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    selectItem() {
      this.link.linkable_id = this.in_selected_item.id;
      this.link.name = this.in_selected_item.name;
    },
    submit() {
      var self = this;
      var data = this.link;
      if (this.action == "edit") {
        axios
          .put(this.ajax_prefix + "link/" + this.link.id, data)
          .then((response) => {
            self.$router.push(this.prefix + "menus");
            Event.$emit(
              "notify",
              self.trans("messages.link-edited"),
              "success",
              self.trans("admin.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("messages.link-not-edited"),
              "warning",
              self.trans("admin.warning")
            );
          });
      } else {
        axios
          .post(this.ajax_prefix + "link", data)
          .then((response) => {
            self.link = {
              name: "",
              order: "",
              url: "",
              linkable_type: "",
              linkable_id: "",
              parent_id: "",
              menu_id: "",
            };
            self.in_selected_type = "";
            self.in_selected_item = "";
            self.$emit("refrech");
            Event.$emit(
              "notify",
              self.trans("messages.link-added"),
              "success",
              self.trans("admin.success")
            );
          })
          .catch((error) => {
            self.errors.record(error);
            Event.$emit(
              "notify",
              self.trans("messages.link-not-added"),
              "warning",
              self.trans("admin.warning")
            );
          });
      }
    },
  },
  mounted() {
    this.in_selected_type = this.selected_type;
    this.in_selected_item = this.selected_item;
    this.in_linkable_items = this.linkable_items;
  },
};
</script>
