<template>
  <div class="content-wrapper">
    <vue-headful :title="trans('admin.dashboard_title')" />
    <section class="content-header">
      <h1>{{ trans("admin.menus") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix"
            ><home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}</router-link
          >
        </li>
        <li class="breadcrumb-item active">{{ trans("admin.menus") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="menu-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-17">
          <div class="card">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin.all-menus") }}</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <div class="filtering clearfix">
                <div class="filter dropdown group-filter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    id="dropdownFilterMenu"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <template v-if="$store.state.current_menu.name">
                      {{ $store.state.current_menu.name }}
                    </template>
                    <template v-else>
                      {{ this.trans("admin.select-menu") }}
                    </template>
                  </button>
                  <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="dropdownFilterMenu"
                  >
                    <a
                      class="dropdown-item"
                      href="#"
                      @click.prevent="$store.state.current_menu = menu"
                      v-for="(menu, key, index) in menus"
                      :key="index"
                      exact
                    >
                      {{ menu.name }}
                    </a>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-info mr-1"
                  @click.prevent="showMenu()"
                >
                  {{ trans("admin.show") }}
                </button>
                <button
                  type="button"
                  class="btn btn-warning mr-1"
                  @click.prevent="editMenu()"
                >
                  {{ trans("admin.edit") }}
                </button>
                <button
                  type="button"
                  class="btn btn-danger mr-1"
                  @click.prevent="deleteMenu()"
                >
                  {{ trans("admin.delete") }}
                </button>
                <button
                  type="button"
                  class="btn btn-success mr-auto"
                  data-toggle="modal"
                  data-target="#createMenuModal"
                >
                  {{ trans("admin.create-menu") }}
                </button>
              </div>
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ trans("admin.name") }}</th>
                    <th scope="col">{{ trans("admin.linkable_type") }}</th>
                    <th scope="col">{{ trans("admin.linkable_item") }}</th>
                    <th scope="col">{{ trans("admin.order") }}</th>
                    <th scope="col">{{ trans("admin.parent") }}</th>
                    <th scope="col">{{ trans("admin.menu") }}</th>
                    <th scope="col" class="text-center">
                      {{ trans("admin.options") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(link, item) in links" :key="item">
                    <th scope="row" class="text-center">{{ link.id }}</th>
                    <td :class="'level-' + link.level">{{ link.name }}</td>
                    <td>{{ linkable_types[link.linkable_type] }}</td>
                    <td>{{ link.linkable_id }}</td>
                    <td>{{ link.order }}</td>
                    <td v-if="link.parente">{{ link.parente.name }}</td>
                    <td v-else>-</td>
                    <td v-if="link.menu">{{ link.menu.name }}</td>
                    <td v-else>-</td>
                    <td class="text-center">
                      <ul class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <router-link
                            :to="prefix + 'link/edit/' + link.id"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title=""
                            :data-original-title="trans('admin.edit-link')"
                          >
                            <edit-icon fill_color="#FFC107"></edit-icon>
                          </router-link>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title=""
                            :data-original-title="trans('admin.delete-link')"
                            @click.prevent="deleteLink(link.id, item)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <pagination
                :pagination="menus"
                @paginate="getMenus()"
                :offset="4"
              ></pagination>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <link-form
            :action="'create'"
            @refrech="getMenus()"
            :selected_item="selected_item"
            :selected_type="selected_type"
            :linkable_types="linkable_types"
            :linkable_items="[]"
            :menus="menus"
            :inlink="new_link"
            :links="links"
          ></link-form>
        </div>
      </div>
    </section>
    <!-- Modal -->
    <div
      class="modal fade"
      id="createMenuModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ trans("admin.create-menu") }}
            </h5>
          </div>
          <form role="form" @submit.prevent="storeMenu()">
            <div class="modal-body">
              <div class="form-group">
                <label class="col-form-label">{{ trans("admin.name") }}</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  v-model="new_menu.name"
                  @keydown="errors.clear('name')"
                />
                <small class="form-text text-danger" v-if="errors.has('name')">
                  {{ errors.get("name") }}
                </small>
              </div>
              <div class="form-group">
                <label class="col-form-label">
                  {{ trans("admin.location") }}
                </label>
                <select
                  name="location"
                  v-model="new_menu.location"
                  class="form-control"
                  @change="errors.clear('location')"
                >
                  <option v-for="(location, key) in menu_locations" :key="key">
                    {{ location }}
                  </option>
                </select>
                <small
                  class="form-text text-danger"
                  v-if="errors.has('location')"
                >
                  {{ errors.get("location") }}
                </small>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                {{ trans("admin.cancel") }}
              </button>
              <button type="submit" class="btn btn-primary mr-2">
                {{ trans("admin.save") }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="editMenuModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">
              {{ trans("admin.edit-menu") }}
            </h5>
          </div>
          <form role="form" @submit.prevent="updateMenu()">
            <div class="modal-body">
              <div class="form-group">
                <label class="col-form-label">{{ trans("admin.name") }}</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  v-model="$store.state.current_menu.name"
                  @keydown="errors.clear('name')"
                />
                <small
                  class="form-text text-danger"
                  v-if="errors.has('name')"
                  >{{ errors.get("name") }}</small
                >
              </div>
              <div class="form-group">
                <label class="col-form-label">{{
                  trans("admin.location")
                }}</label>
                <select
                  name="location"
                  v-model="$store.state.current_menu.location"
                  class="form-control"
                  @change="errors.clear('location')"
                >
                  <option v-for="(location, key) in menu_locations" :key="key">
                    {{ location }}
                  </option>
                </select>
                <small
                  class="form-text text-danger"
                  v-if="errors.has('location')"
                  >{{ errors.get("location") }}</small
                >
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                {{ trans("admin.cancel") }}
              </button>
              <button type="submit" class="btn btn-primary mr-2">
                {{ trans("admin.update") }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const Errors = require("../../errors.js");

export default {
  data() {
    return {
      errors: new Errors(),
      show_spinner: true,
      show_error: false,
      new_link: {
        name: "",
        order: "",
        url: "",
        linkable_type: "",
        linkable_id: "",
        parent_id: "",
        menu_id: "",
      },
      new_menu: {
        name: "",
        location: "",
      },
      menus: {},
      menu_locations: {},
      links: [],
      linkable_types: {},
      menu: "",
      selected_type: "",
      selected_item: {},
    };
  },
  methods: {
    getMenus() {
      var self = this;
      var url = this.preparUrl();
      axios
        .get(url)
        .then((response) => {
          self.menus = response.data.menus;
          self.menu_locations = response.data.menu_locations;
          self.links = response.data.links;
          self.linkable_types = response.data.linkable_types;
          self.show_spinner = false;
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },
    showMenu() {
      this.menus.current_page = undefined;
      this.getMenus();
    },
    preparUrl() {
      var base = this.ajax_prefix + "menus?";
      var page = this.menus.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }

      if (this.$store.state.current_menu.id) {
        base += "menu=" + this.$store.state.current_menu.id + "&";
      }
      return base.slice(0, -1);
    },
    storeMenu() {
      var self = this;
      var data = this.new_menu;
      axios
        .post(this.ajax_prefix + "menu", data)
        .then((response) => {
          this.new_menu = {
            name: "",
            location: "",
          };
          $("#createMenuModal").modal("hide");
          this.menus.push(response.data.menu);
          Event.$emit(
            "notify",
            self.trans("messages.menu-added"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch((error) => {
          self.errors.record(error);
          Event.$emit(
            "notify",
            self.trans("messages.menu-not-added"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    editMenu() {
      var self = this;
      if (this.$store.state.current_menu.id) {
        axios
          .get(
            this.ajax_prefix + "menu/edit/" + this.$store.state.current_menu.id
          )
          .then((response) => {
            self.$store.state.current_menu = response.data.menu;
            $("#editMenuModal").modal("show");
            self.show_spinner = false;
          })
          .catch((error) => {
            self.show_spinner = false;
            self.show_error = error.response.status;
          });
      } else {
        Event.$emit(
          "notify",
          self.trans("messages.please-select-menu"),
          "warning",
          self.trans("admin.warning")
        );
      }
    },
    updateMenu() {
      var self = this;
      var data = this.$store.state.current_menu;
      axios
        .put(
          this.ajax_prefix + "menu/" + this.$store.state.current_menu.id,
          data
        )
        .then((response) => {
          self.menus = response.data.menus;
          $("#editMenuModal").modal("hide");
          Event.$emit(
            "notify",
            self.trans("messages.menu-edited"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch((error) => {
          self.errors.record(error);
          Event.$emit(
            "notify",
            self.trans("messages.menu-not-edited"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
    deleteMenu() {
      var self = this;
      if (self.$store.state.current_menu.id) {
        Event.$off("confirmed");
        Event.$emit("confirm");
        Event.$on("confirmed", function () {
          self.confirmDaleteMenu();
        });
      } else {
        Event.$emit(
          "notify",
          self.trans("messages.please-select-menu"),
          "warning",
          self.trans("admin.warning")
        );
      }
    },
    confirmDaleteMenu() {
      var self = this;
      axios
        .delete(this.ajax_prefix + "menu/" + this.$store.state.current_menu.id)
        .then(function (response) {
          self.menus = response.data.menus;
          (self.$store.state.current_menu = {
            name: self.trans("admin-select-menu"),
            location: "",
          }),
            Event.$emit(
              "notify",
              self.trans("messages.menu-deleted"),
              "success",
              self.trans("admin.success")
            );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("messages.menu-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },

    deleteLink(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDaleteLink(id, key);
      });
    },
    confirmDaleteLink(id, key) {
      var self = this;
      axios
        .delete(this.ajax_prefix + "link/" + id)
        .then(function (response) {
          self.$delete(self.links, key);
          Event.$emit(
            "notify",
            self.trans("messages.link-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("messages.link-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },
  },
  mounted() {
    this.getMenus();
  },
};
</script>
