<template>
  <div class="content-wrapper">
    <vue-headful
      :title="trans('admin.dashboard_title') + ' | ' + trans('text.comments')"
    />
    <section class="content-header">
      <h1>{{ trans("text.comments") }}</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="prefix">
            <home-icon fill_color="#818896"></home-icon>
            {{ trans("admin.dashboard") }}
          </router-link>
        </li>
        <li class="breadcrumb-item active">{{ trans("text.comments") }}</li>
      </ol>
    </section>
    <div v-if="show_spinner" class="loading-spinner">
      <loading-spinner />
    </div>
    <div v-else-if="show_error" class="comment-error">
      <loading-error :type="show_error" />
    </div>
    <section v-else class="content">
      <div class="row">
        <div class="col-lg-24">
          <div class="card">
            <div class="card-head">
              <h3 class="card-title">{{ trans("admin.all-comments") }}</h3>
              <div class="card-tools">
                <div class="pull-left mr-2">
                  <a
                    v-if="trashed"
                    @click.prevent="trashedComments(false)"
                    class="btn btn-info btn-sm"
                  >
                    <folder-open-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></folder-open-icon>
                    {{ trans("admin.all") }}
                  </a>
                  <a
                    v-else
                    @click.prevent="trashedComments(true)"
                    class="btn btn-info btn-sm"
                  >
                    <recycle-icon
                      class="m-0"
                      fill_color="#17a2b8"
                    ></recycle-icon>
                    {{ trans("admin.trashed") }}
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <filtering
                :orders="orders"
                :search_query="true"
                :status="status"
                @filter="filterComments"
                @search="searchComments"
                @order="orderComments"
              ></filtering>
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_check"
                          class="custom-control-input"
                          @change="actionsChange()"
                          id="actionsCheck"
                        />
                        <label
                          class="custom-control-label"
                          for="actionsCheck"
                        ></label>
                      </div>
                    </th>
                    <th scope="col">{{ trans("admin.author") }}</th>
                    <th scope="col">{{ trans("admin.comment") }}</th>
                    <th scope="col">{{ trans("admin.comment-to") }}</th>
                    <th scope="col">{{ trans("admin.comment-date") }}</th>
                    <th scope="col">{{ trans("admin.singals") }}</th>
                    <th scope="col" style="width: 130px; text-align: center">
                      {{ trans("admin.status") }}
                    </th>
                    <th scope="col" class="text-center">
                      {{ trans("admin.options") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(comment, index) in comments.data" :key="index">
                    <td scope="row" class="actions-check">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          v-model="actions_items[comment.id]"
                          class="custom-control-input"
                          :id="'actionsCheckbox' + comment.id"
                        />
                        <label
                          class="custom-control-label"
                          :for="'actionsCheckbox' + comment.id"
                        ></label>
                      </div>
                    </td>
                    <td scope="row">{{ comment.author }}</td>
                    <td>{{ comment.comment }}</td>
                    <td>
                      <a :href="comment.post_link" target="_blank">
                        {{ comment.post_title }}
                      </a>
                    </td>
                    <td>{{ comment.date }}</td>
                    <td>{{ comment.signal }}</td>
                    <td class="text-center">
                      <a
                        v-if="comment.status !== 1"
                        href="#"
                        class="text-danger"
                        @click.prevent="changeStatus(comment.id, 1, index)"
                      >
                        <ban-icon fill_color="#FE6C6C"></ban-icon>
                      </a>
                      <a
                        v-else
                        href="#"
                        class="text-success"
                        @click.prevent="changeStatus(comment.id, 0, index)"
                      >
                        <check-icon fill_color="#76c64e"></check-icon>
                      </a>
                    </td>

                    <td class="text-center">
                      <ul v-if="trashed" class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni edit"
                            data-toggle="tooltip"
                            title
                            :data-original-title="
                              trans('admin.restore-comment')
                            "
                            @click.prevent="restorComment(comment.id)"
                          >
                            <reply-all-icon
                              fill_color="#ffc107"
                            ></reply-all-icon>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-comment')"
                            @click.prevent="deleteComment(comment.id, index)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                      <ul v-else class="list-inline p-0 m-0">
                        <li class="list-inline-item">
                          <a
                            href="#"
                            data-placement="left"
                            class="tip btn-uni delete"
                            data-toggle="tooltip"
                            title
                            :data-original-title="trans('admin.delete-comment')"
                            @click.prevent="deleteComment(comment.id, index)"
                          >
                            <trash-icon fill_color="#F44336"></trash-icon>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <div class="row">
                <div class="col">
                  <div class="actions dropdown">
                    <button
                      class="btn dropdown-toggle wp-120"
                      type="button"
                      id="dropdownActions"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="text-muted">
                        {{ trans("admin.actions") }}
                      </span>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="dropdownActions"
                    >
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionDelete()"
                      >
                        {{ trans("admin.delete-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(1)"
                      >
                        {{ trans("admin.activate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        v-if="!this.trashed"
                        @click.prevent="actionChangeStatus(0)"
                      >
                        {{ trans("admin.deactivate-selected") }}
                      </a>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click.prevent="actionRestor()"
                        v-if="this.trashed"
                      >
                        {{ trans("admin.restor-selected") }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <pagination
                    :pagination="comments"
                    @paginate="getComments()"
                    :offset="4"
                  ></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      comment: {
        name: "",
        alias: "",
      },
      actions_check: false,
      actions_items: {},
      comments: {},
      trashed: false,
      sort: this.$route.params.sort,
      direction: this.$route.params.direction,
      filters: {
        statu: "",
      },
      search_query: "",
      status: ["0", "1"],
      orders: [
        {
          sort: "user.name",
          direction: "desc",
          text: "order-by-author-desc",
        },
        {
          sort: "user.name",
          direction: "asc",
          text: "order-by-author-asc",
        },
        {
          sort: "created_at",
          direction: "desc",
          text: "order-by-newest",
        },
        {
          sort: "created_at",
          direction: "asc",
          text: "order-by-oldest",
        },
        {
          sort: "signal",
          direction: "desc",
          text: "order-by-signal-desc",
        },
        {
          sort: "signal",
          direction: "asc",
          text: "order-by-signal-asc",
        },
      ],
      show_spinner: true,
      show_error: false,
    };
  },
  methods: {
    getComments() {
      var self = this;
      var url = this.preparUrl();
      axios
        .get(url)
        .then((response) => {
          self.comments = response.data.comments;
          self.show_spinner = false;
          window.scroll(0, 0);
        })
        .catch((error) => {
          self.show_spinner = false;
          self.show_error = error.response.status;
        });
    },

    filterComments(filters) {
      this.filters = filters;
      this.comments.current_page = undefined;
      this.getComments();
    },

    searchComments(data) {
      this.search_query = data.query;
      this.comments.current_page = undefined;
      this.getComments();
    },

    orderComments(order) {
      this.sort = order.sort;
      this.direction = order.direction;
      this.comments.current_page = undefined;
      this.getComments();
    },

    trashedComments(trashed) {
      this.comments.current_page = undefined;
      this.trashed = trashed;
      this.getComments();
    },

    changeStatus: function (id, status, item) {
      var self = this;
      axios
        .get(this.ajax_prefix + "comment/" + id + "/status/" + status)
        .then((response) => {
          self.comments.data[item].status = parseInt(response.data.status);
          Event.$emit(
            "notify",
            self.trans("admin.comment-status-changed"),
            "success",
            self.trans("text.success")
          );
        })
        .catch((error) => {
          Event.$emit(
            "notify",
            self.trans("admin.comment-status-not-changed"),
            "warning",
            self.trans("text.warning")
          );
        });
    },

    deleteComment(id, key) {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmDalete(id, key);
      });
    },

    confirmDalete(id, key) {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      axios
        .delete(this.ajax_prefix + "comment/" + id + forced)
        .then(function (response) {
          self.actions_items[self.comments.data[key].id] = false;
          self.$delete(self.comments.data, key);
          Event.$emit(
            "notify",
            self.trans("admin.comment-deleted"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.comment-not-deleted"),
            "warning",
            self.trans("text.warning")
          );
        });
    },

    restorComment(id) {
      var self = this;
      axios
        .get(this.ajax_prefix + "comment/restore/" + id)
        .then(function (response) {
          self.trashed = false;
          self.getComments();
          Event.$emit(
            "notify",
            self.trans("admin.comment-restored"),
            "success",
            self.trans("text.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.comment-not-restored"),
            "warning",
            self.trans("text.warning")
          );
        });
    },

    actionsChange() {
      var items = {};
      for (let index = 0; index < this.comments.data.length; index++) {
        this.actions_items[this.comments.data[index].id] = this.actions_check;
      }
    },

    actionDelete() {
      var self = this;
      Event.$off("confirmed");
      Event.$emit("confirm");
      Event.$on("confirmed", function () {
        self.confirmActionDelete();
      });
    },

    confirmActionDelete() {
      var self = this;
      var forced = "";
      if (this.trashed) {
        forced = "?forced=true";
      }
      var data = {
        action: "delete",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "comment/actions" + forced, data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.comments.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.comments.data, key);
            self.actions_items[response.data.results[index]] = false;
          }
          Event.$emit(
            "notify",
            self.trans("admin.comment-deleted"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.comment-not-deleted"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },

    actionRestor() {
      var self = this;
      var data = {
        action: "restor",
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "comment/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            let key = self.comments.data
              .map((item) => item.id)
              .indexOf(response.data.results[index]); // find index of your object
            self.$delete(self.comments.data, key);
          }
          Event.$emit(
            "notify",
            self.trans("admin.comment-restored"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.comment-not-restored"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },

    actionChangeStatus(statu) {
      var self = this;
      if (statu == 1) {
        var action = "activate";
      } else {
        var action = "deactivate";
      }
      var data = {
        action: action,
        items: this.actions_items,
      };
      axios
        .post(this.ajax_prefix + "comment/actions", data)
        .then(function (response) {
          for (let index = 0; index < response.data.results.length; index++) {
            var item = response.data.results[index];

            let key = self.comments.data
              .map((item) => item.id)
              .indexOf(item["id"]);

            self.comments.data[key].status = item["status"];
          }
          Event.$emit(
            "notify",
            self.trans("admin.comment-status-changed"),
            "success",
            self.trans("admin.success")
          );
        })
        .catch(function (error) {
          Event.$emit(
            "notify",
            self.trans("admin.comment-status-not-changed"),
            "warning",
            self.trans("admin.warning")
          );
        });
    },

    preparUrl() {
      var base = this.ajax_prefix + "comments?";
      var page = this.comments.current_page;
      if (page !== undefined) {
        base += "page=" + page + "&";
      }
      if (this.sort) {
        base += "sort=" + this.sort + "&";
      }
      if (this.direction) {
        base += "direction=" + this.direction + "&";
      }
      if (this.trashed) {
        base += "trashed=" + this.trashed + "&";
      }
      if (this.search_query) {
        base += "query=" + this.search_query + "&";
      }
      if (this.filters.statu) {
        base += "statu=" + this.filters.statu + "&";
      }
      var url = base.slice(0, -1);
      return url;
    },
  },

  mounted() {
    this.getComments();
  },
};
</script>
